Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            functions/.* backend-updated true
            apps/web/.* web-app-updated true
            apps/ios/.* ios-app-updated true
          base-revision: main 
          config-path: .circleci/continue_config.yml

Update readme
  README.md
Due: none

Update mobile menu bar buttons to be consistent with iOS
  apps/web/src/components/Buttons/EndEventButton/EndEventButton.tsx
  apps/web/src/components/Buttons/LeaveEventButton/LeaveEventButton.tsx
  apps/web/src/components/Buttons/ToggleAudioButton/ToggleAudioButton.tsx
  apps/web/src/components/Buttons/ToggleChatButton/ToggleChatButton.tsx
  apps/web/src/components/Buttons/ToggleParticipantWindow/ToggleParticipantWindowButton.tsx
  apps/web/src/components/Buttons/ToggleVideoButton/ToggleVideoButton.tsx
  apps/web/src/components/MenuBar/MenuBar.tsx
Due: web-app-updated

update PlayerMenuBar buttons to be consistent with iOS
  apps/web/src/components/Player/PlayerMenuBar/PlayerMenuBar.tsx
Due: web-app-updated

- Implemented SettingsFragment to display the app version and SDKs versions as well. - Implemented Sign-Out button on SettingsFragment to clear credentials and go to SignIn screen.
  apps/android/LiveVideoApp/app/build.gradle
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/AuthenticatorManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/local/LocalStorage.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/local/LocalStorageImpl.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/MainActivity.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/SettingsFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/SignInBaseFragment.kt
  apps/android/LiveVideoApp/app/src/main/res/drawable/ic_settings.xml
  apps/android/LiveVideoApp/app/src/main/res/menu/app_menu.xml
  apps/android/LiveVideoApp/app/src/main/res/navigation/main_graph.xml
  apps/android/LiveVideoApp/app/src/main/res/xml/fragment_settings.xml
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/repository/datasource/local/LocalStorageImplFake.kt
  apps/android/LiveVideoApp/build.gradle
Due: none

add <Hidden /> to chat and participant buttons
  apps/web/src/components/Buttons/ToggleChatButton/ToggleChatButton.tsx
  apps/web/src/components/Buttons/ToggleParticipantWindow/ToggleParticipantWindowButton.tsx
Due: web-app-updated

update margins to center buttons in menubar
  apps/web/src/components/MenuBar/MenuBar.tsx
Due: web-app-updated

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: web-app-updated

- Fix settings icon visibility to be only available on Home Screen.
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/HomeFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/MainActivity.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/SettingsFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/SignInBaseFragment.kt
Due: none

Android - feature/VIDEO-10185/Implement_settings_screen_and_sign_out_flow (#141)
  apps/android/LiveVideoApp/app/build.gradle
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/AuthenticatorManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/local/LocalStorage.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/local/LocalStorageImpl.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/HomeFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/MainActivity.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/SettingsFragment.kt
  apps/android/LiveVideoApp/app/src/main/res/drawable/ic_settings.xml
  apps/android/LiveVideoApp/app/src/main/res/menu/app_menu.xml
  apps/android/LiveVideoApp/app/src/main/res/navigation/main_graph.xml
  apps/android/LiveVideoApp/app/src/main/res/xml/fragment_settings.xml
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/repository/datasource/local/LocalStorageImplFake.kt
  apps/android/LiveVideoApp/build.gradle
Due: none

- Implemented Unit Test cases to test the viewModel class for verifyPasscode api call.
  apps/android/LiveVideoApp/app/build.gradle
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/viewmodel/SignInViewModelTest.kt
  apps/android/LiveVideoApp/build.gradle
Due: none

update readme with info about chat feature flag
  README.md
Due: none

format variable to code
  README.md
Due: none

formatting
  README.md
Due: none

ensure chat window is closed when feature flag is enabled
  apps/web/src/components/ChatProvider/index.tsx
Due: web-app-updated

fix chat window open by default bug
  apps/web/src/components/ChatProvider/index.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
Due: web-app-updated

prep for release
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix wording of bug fix 116
  CHANGELOG.md
Due: none

Update version to 1.1.0 and regenerate Package.resolved for new Xcode version
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Info.plist
  apps/ios/LiveVideo/LiveVideoTests/Info.plist
  apps/ios/LiveVideo/LiveVideoUITests/Info.plist
Due: ios-app-updated

Update CI to use new Xcode version that can read new Package.resolved file
  .circleci/continue_config.yml
Due: none

Add text chat to the iOS app (#148)
  .circleci/continue_config.yml
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundPrimaryWeaker.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Info.plist
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/CreateOrJoinStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatMessage.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Chat/ChatBubbleView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Chat/ChatHeaderView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Chat/ChatInputBar.swift
  apps/ios/LiveVideo/LiveVideo/Views/Chat/ChatMessageList.swift
  apps/ios/LiveVideo/LiveVideo/Views/Chat/ChatView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbar.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
  apps/ios/LiveVideo/LiveVideoTests/Info.plist
  apps/ios/LiveVideo/LiveVideoUITests/Info.plist
Due: ios-app-updated

- Implemented Espresso test case for StreamFragment.kt - Fixed and improved multiple classes for testing - Created new class annotation @OpenForTesting
  apps/android/LiveVideoApp/app/build.gradle
  apps/android/LiveVideoApp/app/src/debug/java/com/twilio/livevideo/app/ExtensionUtil.kt
  apps/android/LiveVideoApp/app/src/debug/java/com/twilio/livevideo/app/annotations/OpenForTesting.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/di/MainModule.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/PlayerManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/LiveVideoRepository.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/remote/RemoteStorage.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewmodel/StreamViewModel.kt
  apps/android/LiveVideoApp/app/src/main/res/layout/live_progress_indicator.xml
  apps/android/LiveVideoApp/app/src/release/java/com/twilio/livevideo/app/annotations/OpenForTesting.kt
  apps/android/LiveVideoApp/app/src/release/res/values/strings.xml
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/di/ComponentModuleFake.kt
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/di/MainModuleFake.kt
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/manager/PlayerManagerFake.kt
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/util/MainCoroutineScopeRule.kt
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/view/SignInPasscodeFragmentTest.kt
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/view/SignInViews.kt
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/view/StreamFragmentFake.kt
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/view/StreamFragmentTest.kt
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/view/StreamViews.kt
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/viewmodel/SignInViewModelTest.kt
  apps/android/LiveVideoApp/build.gradle
Due: none

- Removed unused imports
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/util/MainCoroutineScopeRule.kt
Due: none

Set PlayerStreamer max duration to 30 minutes (#104)
  README.md
  serverless/functions/create-stream.js
Due: none

- Added permissions support for AUDIO_RECORD and CAMERA
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/di/ComponentModule.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/permission/PermissionManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/permission/PermissionType.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/LocalParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/ParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RemoteParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/HomeEventNameFragment.kt
Due: none

- Fix issue related to PermissionManager.kt injecting dependency in testing environment. - Removed VideoView from layout, was causing failures to existing Unit Test cases.
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/di/ComponentModule.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/permission/PermissionManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
  apps/android/LiveVideoApp/app/src/main/res/layout/fragment_stream.xml
Due: none

- Improvement to make the participant wrapper ready to be consumed by the UI
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/LocalParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/ParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RemoteParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
  apps/android/LiveVideoApp/app/src/main/res/layout/fragment_stream.xml
Due: none

- Fixes from code review feedback
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/LocalParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/ParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RemoteParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
Due: none

Feature/video 10585/android create stream and room sdk integration (#150)
  ReferenceBackendAPI.md
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/custom/BaseLifeCycleComponent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/di/ComponentModule.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/PlayerManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/permission/PermissionManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/permission/PermissionType.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/CameraCapturerCompat.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/LocalParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/ParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RemoteParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/LiveVideoRepository.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/remote/LiveVideoAPIService.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/remote/RemoteStorage.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/model/LiveVideoAPIResponses.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/HomeEventNameFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewmodel/StreamViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewmodel/StreamViewModel.kt
  apps/android/LiveVideoApp/app/src/main/res/layout/fragment_stream.xml
  apps/android/LiveVideoApp/app/src/main/res/navigation/main_graph.xml
  apps/android/LiveVideoApp/app/src/main/res/values/strings.xml
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/view/StreamFragmentFake.kt
Due: none

dependency upgrades and add REACT_APP_VERSION en variable
  apps/web/jest.config.js
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/scripts/build.js
  package-lock.json
Due: web-app-updated

add new syntax and logic for twilio-conversations, is-plain-object, react app version variable, and remove firebase type
  apps/web/src/components/AboutDialog/AboutDialog.tsx
  apps/web/src/components/ChatProvider/index.tsx
  apps/web/src/components/ChatWindow/ChatInput/ChatInput.tsx
  apps/web/src/components/ChatWindow/MessageList/MessageList.tsx
  apps/web/src/components/ChatWindow/MessageList/MessageListScrollContainer/MessageListScrollContainer.tsx
  apps/web/src/state/index.tsx
  apps/web/src/utils/index.ts
Due: web-app-updated

add setupTests.ts back
  apps/web/src/setupTests.ts
Due: web-app-updated

Refactor for RemoteStorage adn LiveVideoRequestInterceptor in order to parse the error body from the interceptor.
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/network/LiveVideoRequestInterceptor.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/remote/RemoteStorage.kt
Due: none

Optimized to initialized Local Tracks before connect to the room.
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/LocalParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RemoteParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
Due: none

Refactor to remote intermediate class ParticipantWrapper. Now it is replaced with ParticipantStream
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/LocalParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/ParticipantStream.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RemoteParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/util/BindingAdapter.kt
  apps/android/LiveVideoApp/app/src/main/res/layout/participant_view_item.xml
Due: none

- Implemented API call to Join Stream As Speaker. - Connected to a Room as speaker. - Connected UI to turn on/off the camera and mic. - When the room is disconnected, then show an Alert.
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/LiveVideoRepository.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/remote/LiveVideoAPIService.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/remote/RemoteStorage.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/model/LiveVideoAPIResponses.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewmodel/StreamViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewmodel/StreamViewModel.kt
Due: none

- Fix conflict between Host and Speaker when disconnecting from the room - Fix use case, when the room is disconnected by the Host or Server.
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
Due: none

VIDEO-10587 android Customize UI for Host speaker (#153)
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/LocalParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/ParticipantStream.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/ParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RemoteParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/util/BindingAdapter.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/HomeJoinEventTypeFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewmodel/StreamViewModel.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewstate/StreamViewState.kt
  apps/android/LiveVideoApp/app/src/main/res/drawable/ic_cam_close.xml
  apps/android/LiveVideoApp/app/src/main/res/drawable/ic_cam_close_disabled.xml
  apps/android/LiveVideoApp/app/src/main/res/drawable/ic_cam_open.xml
  apps/android/LiveVideoApp/app/src/main/res/drawable/ic_cam_switch.xml
  apps/android/LiveVideoApp/app/src/main/res/drawable/ic_dots_horizontal.xml
  apps/android/LiveVideoApp/app/src/main/res/drawable/ic_dots_menu.xml
  apps/android/LiveVideoApp/app/src/main/res/drawable/ic_mic_close.xml
  apps/android/LiveVideoApp/app/src/main/res/drawable/ic_mic_close_disabled.xml
  apps/android/LiveVideoApp/app/src/main/res/drawable/ic_mic_open.xml
  apps/android/LiveVideoApp/app/src/main/res/drawable/ic_mic_switch.xml
  apps/android/LiveVideoApp/app/src/main/res/drawable/ic_participant_muted.xml
  apps/android/LiveVideoApp/app/src/main/res/layout/fragment_stream.xml
  apps/android/LiveVideoApp/app/src/main/res/layout/participant_view_item.xml
  apps/android/LiveVideoApp/app/src/main/res/values-night/themes.xml
  apps/android/LiveVideoApp/app/src/main/res/values-v31/themes.xml
  apps/android/LiveVideoApp/app/src/main/res/values/colors.xml
  apps/android/LiveVideoApp/app/src/main/res/values/dimens.xml
Due: none
