Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            functions/.* backend-updated true
            apps/web/.* web-app-updated true
            apps/ios/.* ios-app-updated true
          base-revision: main 
          config-path: .circleci/continue_config.yml

Rename variables, fix typos
  apps/web/src/components/ParticipantWindow/ParticipantWindow.tsx
  apps/web/src/components/Player/PlayerMenuBar/PlayerMenuBar.tsx
  apps/web/src/components/PlayerProvider/index.tsx
  apps/web/src/components/PreJoinScreens/CreateOrJoinScreen/CreateOrJoinScreen.tsx
  apps/web/src/components/PreJoinScreens/DeviceSelectionScreen/DeviceSelectionScreen.tsx
  apps/web/src/components/PreJoinScreens/ParticipantNameScreen/ParticipantNameScreen.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/components/PreJoinScreens/SpeakerOrViewerScreen/SpeakerOrViewerScreen.tsx
  apps/web/src/components/SyncProvider/index.tsx
  apps/web/src/index.tsx
  apps/web/src/state/appState/appReducer.ts
Due: web-app-updated

styling changes
  apps/web/package-lock.json
  apps/web/src/components/IntroContainer/IntroContainer.tsx
  apps/web/src/components/IntroContainer/VideoLogo.tsx
  apps/web/src/components/PreJoinScreens/CreateOrJoinScreen/CreateOrJoinScreen.tsx
  apps/web/src/components/PreJoinScreens/ParticipantNameScreen/ParticipantNameScreen.tsx
  apps/web/src/icons/CreateEventIcon.tsx
  apps/web/src/icons/RightArrowIcon.tsx
  apps/web/src/theme.ts
  package-lock.json
Due: web-app-updated

Add leave as viewer option to speaker disconnect button
  apps/web/src/components/Buttons/EndEventButton/EndEventButton.test.tsx
  apps/web/src/components/Buttons/EndEventButton/EndEventButton.tsx
  apps/web/src/components/Buttons/LeaveEventButton/LeaveEventButton.tsx
  apps/web/src/components/MenuBar/MenuBar.tsx
  apps/web/src/components/MobileTopMenuBar/MobileTopMenuBar.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
Due: web-app-updated

Improve join experience
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/state/appState/appReducer.ts
Due: web-app-updated

Exit player when it ends
  apps/web/src/components/Player/Player.tsx
  apps/web/src/components/PlayerProvider/index.tsx
Due: web-app-updated

Add ability to trigger snackbars imperatively
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/components/ParticipantWindow/ParticipantWindow.tsx
  apps/web/src/components/Snackbar/Snackbar.tsx
  apps/web/src/components/Snackbar/SnackbarProvider.tsx
  apps/web/src/hooks/useSnackbar/useSnackbar.ts
  apps/web/src/index.tsx
Due: web-app-updated

Fix player unloading
  apps/web/src/components/PlayerProvider/index.tsx
Due: web-app-updated

Add snackbars for viewers
  apps/web/src/components/Player/Player.tsx
  apps/web/src/components/Player/PlayerMenuBar/PlayerMenuBar.tsx
Due: web-app-updated

Improve sync client error handling
  apps/ios/LiveVideo/LiveVideo/Helpers/LiveVideoError.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
Due: ios-app-updated

Change launch screen (#28)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/LaunchBackground.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/LaunchBackground.imageset/LaunchBackground.pdf
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/LiveVideoLaunchLogo.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/LiveVideoLaunchLogo.imageset/LiveVideoLaunchLogo.pdf
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/TwilioLaunchLogo.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/TwilioLaunchLogo.imageset/TwilioLaunchLogo.pdf
  apps/ios/LiveVideo/LiveVideo/InAppSettings.bundle/LaunchScreen.storyboard
  apps/ios/LiveVideo/LiveVideo/Info.plist
  apps/ios/LiveVideo/LiveVideo/LaunchScreen.storyboard
Due: ios-app-updated

Add icons to buttons
  apps/web/src/components/Buttons/ToggleParticipantWindow/ToggleParticipantWindowButton.tsx
  apps/web/src/components/ParticipantWindow/RaisedHand/RaisedHand.tsx
  apps/web/src/components/Player/PlayerMenuBar/PlayerMenuBar.tsx
  apps/web/src/icons/LowerHandIcon.tsx
  apps/web/src/icons/ParticipantIcon.tsx
  apps/web/src/icons/RaiseHandIcon.tsx
Due: web-app-updated

Set raised hands on load
  apps/web/src/hooks/useRaisedHandsMap/useRaisedHandsMap.ts
Due: web-app-updated

Add useful error messages when connecting
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
Due: web-app-updated

Add useful error message for ended rooms
  apps/web/src/components/Buttons/EndEventButton/EndEventButton.tsx
  apps/web/src/components/VideoProvider/useHandleRoomDisconnection/useHandleRoomDisconnection.ts
Due: web-app-updated

Fix bug in returning to event as viewer
  apps/web/src/state/appState/appReducer.ts
Due: web-app-updated

Show snackbar when event ends
  apps/web/src/components/PlayerProvider/index.tsx
Due: web-app-updated

add new icons and background
  apps/web/src/components/IntroContainer/swoosh.ts
  apps/web/src/icons/BackArrowIcon.tsx
  apps/web/src/icons/JoinEventIcon.tsx
  apps/web/src/icons/SpeakerIcon.tsx
  apps/web/src/icons/ViewerIcon.tsx
Due: web-app-updated

increase main container size
  apps/web/src/components/IntroContainer/IntroContainer.tsx
Due: web-app-updated

change font weight to bold
  apps/web/src/components/PreJoinScreens/CreateNewEventScreen/CreateNewEventScreen.tsx
Due: web-app-updated

finish onboarding styling
  apps/web/src/components/PreJoinScreens/CreateOrJoinScreen/CreateOrJoinScreen.tsx
  apps/web/src/components/PreJoinScreens/JoinEventScreen/JoinEventScreen.tsx
  apps/web/src/components/PreJoinScreens/SpeakerOrViewerScreen/SpeakerOrViewerScreen.tsx
Due: web-app-updated

Use public player package
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Player/PlayerManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIPlayerView.swift
Due: ios-app-updated

Add comments to SyncManager
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
Due: ios-app-updated

VIDEO-7371: Add basic interactive features to the iOS app (#26)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Helpers/LiveVideoError.swift
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/API.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/CreateOrJoinStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/DeleteStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/RaiseHandRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/SendSpeakerInviteRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/StreamTokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/TokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Player/PlayerManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamConfig.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/RaisedHandsStore.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncStoring.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/ViewerStore.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/SettingsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbar.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbarButton.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIPlayerView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/ProgressHUD.swift
Due: ios-app-updated

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: web-app-updated

Improve raised hand UX
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundHighlight.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbarButton.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
Due: ios-app-updated

update padding and hover states for paper
  apps/web/src/components/IntroContainer/IntroContainer.tsx
  apps/web/src/components/PreJoinScreens/CreateOrJoinScreen/CreateOrJoinScreen.tsx
  apps/web/src/components/PreJoinScreens/SpeakerOrViewerScreen/SpeakerOrViewerScreen.tsx
  apps/web/src/theme.ts
Due: web-app-updated

resize video logo
  apps/web/src/components/IntroContainer/VideoLogo.tsx
Due: web-app-updated

update padding for centering content
  apps/web/src/components/PreJoinScreens/CreateNewEventScreen/CreateNewEventScreen.tsx
  apps/web/src/components/PreJoinScreens/JoinEventScreen/JoinEventScreen.tsx
  apps/web/src/components/PreJoinScreens/ParticipantNameScreen/ParticipantNameScreen.tsx
Due: web-app-updated

Vertically center prejoin content
  apps/web/src/components/IntroContainer/IntroContainer.tsx
  apps/web/src/components/PreJoinScreens/CreateNewEventScreen/CreateNewEventScreen.tsx
  apps/web/src/components/PreJoinScreens/CreateOrJoinScreen/CreateOrJoinScreen.tsx
  apps/web/src/components/PreJoinScreens/JoinEventScreen/JoinEventScreen.tsx
  apps/web/src/components/PreJoinScreens/ParticipantNameScreen/ParticipantNameScreen.tsx
  apps/web/src/components/PreJoinScreens/SpeakerOrViewerScreen/SpeakerOrViewerScreen.tsx
Due: web-app-updated

Update packagelock
  package-lock.json
Due: none

Update language
  apps/web/src/components/Player/Player.tsx
Due: web-app-updated

Update Twilio Video
  apps/web/package-lock.json
  apps/web/package.json
Due: web-app-updated

Update menus and their buttons
  apps/web/src/components/Buttons/ToggleChatButton/ToggleChatButton.tsx
  apps/web/src/components/Buttons/ToggleParticipantWindow/ToggleParticipantWindowButton.tsx
  apps/web/src/components/MenuBar/Menu/Menu.tsx
Due: web-app-updated

Fix sync bugs
  apps/web/src/components/PlayerProvider/index.tsx
  apps/web/src/components/SyncProvider/index.tsx
Due: web-app-updated

Improve loading screen copy
  apps/web/src/components/PreJoinScreens/LoadingScreen/LoadingScreen.tsx
Due: web-app-updated

Fix argument
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
Due: web-app-updated

Use twilio player from npm
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/components/Player/Player.tsx
  apps/web/src/components/PlayerProvider/index.tsx
  apps/web/twilio-player-sdk-1.0.0-preview.9.tgz
Due: web-app-updated

Revert "Use twilio player from npm"
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/components/Player/Player.tsx
  apps/web/src/components/PlayerProvider/index.tsx
  apps/web/twilio-player-sdk-1.0.0-preview.9.tgz
Due: web-app-updated

Improve raised hand UX (#32)
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundHighlight.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbarButton.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
Due: ios-app-updated

Remove unnecessary environment variables from README.
  README.md
Due: none
