Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

Remove unnecessary environment variables from README. (#34)
  README.md
Due: none

Disable "event ended by host" snackbar for viewers
  apps/web/src/components/PlayerProvider/index.tsx
Due: web-app-updated

Update deploy instructions
  README.md
Due: none

Update deploy instructions (#35)
  README.md
Due: none

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: web-app-updated

use stable-media-processor
  serverless/constants.js
Due: none

Fix automatic tearing down of streaming resources
  serverless/functions/rooms-webhook.protected.js
Due: none

Add instructions to run the iOS app
  README.md
Due: none

Open the project in Xcode
  README.md
Due: none

Specify web app
  README.md
Due: none

VIDEO-7444: Add instructions to run the iOS app (#39)
  README.md
Due: none

Add Github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Add Github templates (#40)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Due: none

Add card button
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundSuccess.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BorderWeaker.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/CardButtonIconPurple.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/ShadowLow.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/CardButtonLabel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
Due: ios-app-updated

safari black screen fix
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/components/Player/Player.tsx
Due: web-app-updated

Add card buttons to screens
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/JoinStream/JoinStreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/StreamConfigFlow/EnterStreamNameView.swift
  apps/ios/LiveVideo/LiveVideo/Views/StreamConfigFlow/SelectRoleView.swift
  apps/ios/LiveVideo/LiveVideo/Views/StreamConfigFlow/StreamConfigFlowModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/CardButtonLabel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/FormStack.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/TipStyle.swift
Due: ios-app-updated

Rename color
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/IconPurple.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/FormStack.swift
Due: ios-app-updated

Revert home title
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
Due: ios-app-updated

Clean up card button
  apps/ios/LiveVideo/LiveVideo/Views/Style/CardButtonLabel.swift
Due: ios-app-updated

Improve config flow and update Xcode version
  .circleci/continue_config.yml
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/StreamConfigFlow/EnterStreamNameView.swift
  apps/ios/LiveVideo/LiveVideo/Views/StreamConfigFlow/StreamConfigFlowModel.swift
Due: ios-app-updated

make usePlayerState hook
  apps/web/src/components/Player/Player.tsx
  apps/web/src/components/PlayerProvider/index.tsx
  apps/web/src/hooks/usePlayerState/usePlayerState.tsx
  apps/web/src/hooks/useSnackbar/useSnackbar.ts
Due: web-app-updated

update player sdk to v1
  apps/web/package-lock.json
  apps/web/package.json
  package-lock.json
Due: web-app-updated

replace useEffect with useLayoutEffect
  apps/web/src/components/Player/Player.tsx
  apps/web/src/components/PlayerProvider/index.tsx
  apps/web/src/hooks/usePlayerState/usePlayerState.tsx
Due: web-app-updated

remove console log
  apps/web/src/components/Snackbar/SnackbarProvider.tsx
Due: web-app-updated

remove autoplay from video element
  apps/web/src/components/Player/Player.tsx
Due: web-app-updated

VIDEO-7466: iOS add card buttons to onboarding screens (#41)
  .circleci/continue_config.yml
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundSuccess.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BorderWeaker.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/IconPurple.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/ShadowLow.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/JoinStream/JoinStreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/StreamConfigFlow/EnterStreamNameView.swift
  apps/ios/LiveVideo/LiveVideo/Views/StreamConfigFlow/SelectRoleView.swift
  apps/ios/LiveVideo/LiveVideo/Views/StreamConfigFlow/StreamConfigFlowModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/CardButtonLabel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/FormStack.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/TipStyle.swift
Due: ios-app-updated

combine if statement
  apps/web/src/components/Player/Player.tsx
Due: web-app-updated

Improve sign in UX
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/LaunchBackground.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/LaunchBackground.imageset/LaunchBackground.pdf
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/LiveVideoLaunchLogo.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/LiveVideoLaunchLogo.imageset/LiveVideoLaunchLogo.pdf
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/RedTwilioLogo.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/RedTwilioLogo.imageset/RedTwilioLogo.pdf
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/TwilioLaunchLogo.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/TwilioLaunchLogo.imageset/TwilioLaunchLogo.pdf
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/SignInView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/TitleStyle.swift
Due: ios-app-updated

Make all card button icons blue
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundPrimaryWeakest.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/CardButtonLabel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
Due: ios-app-updated

Add scroll view to form screens to prevent keyboard issues
  apps/ios/LiveVideo/LiveVideo/Views/Style/FormStack.swift
Due: ios-app-updated

Reuse title style
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
Due: ios-app-updated

Display number of offscreen speakers
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundBrand.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Views/Stream/MoreSpeakersView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
Due: ios-app-updated

Improve stub
  apps/ios/LiveVideo/LiveVideo/Views/Stream/MoreSpeakersView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

VIDEO-7466: iOS sign in UX improvements (#44)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundPrimaryWeakest.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/LaunchBackground.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/LaunchBackground.imageset/LaunchBackground.pdf
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/LiveVideoLaunchLogo.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/LiveVideoLaunchLogo.imageset/LiveVideoLaunchLogo.pdf
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/RedTwilioLogo.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/RedTwilioLogo.imageset/RedTwilioLogo.pdf
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/TwilioLaunchLogo.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/TwilioLaunchLogo.imageset/TwilioLaunchLogo.pdf
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/SignInView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/CardButtonLabel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/FormStack.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/TitleStyle.swift
Due: ios-app-updated

Rename view
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Views/Stream/OffscreenSpeakersView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Update the README to describe the new hand raising/hosting functionality.
  README.md
Due: none

proxy files
  .env.example
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/setupProxy.js
Due: web-app-updated

Add more alerts
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Path conditions:
  backend-updated: any of: functions/.*
  web-app-updated: any of: apps/web/.*
  ios-app-updated: any of: apps/ios/.*
