Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

VIDEO-7467: IOS offscreen speaker count (#45)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundBrand.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Views/Stream/OffscreenSpeakersView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
Due: ios-app-updated

add proxy url to correct .envexample
  .env.example
  apps/web/.env.example
Due: web-app-updated

Replace blue branding with red
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon1024.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon20@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon20@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon29@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon29@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon40@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon40@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon60@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon60@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/LaunchBackground.imageset/LaunchBackground.pdf
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/LiveVideoLaunchLogo.imageset/LiveVideoLaunchLogo.pdf
Due: ios-app-updated

Replace blue branding with red (#48)
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon1024.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon20@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon20@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon29@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon29@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon40@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon40@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon60@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon60@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/LaunchBackground.imageset/LaunchBackground.pdf
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Images/LiveVideoLaunchLogo.imageset/LiveVideoLaunchLogo.pdf
Due: ios-app-updated

Enable ACL
  apps/web/package-lock.json
  package-lock.json
  serverless/functions/create-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/scripts/deploy.js
Due: web-app-updated

VIDEO-7468: More iOS alerts (#47)
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Revert lock file changes
  apps/web/package-lock.json
  package-lock.json
Due: web-app-updated

VIDEO-7581: Enable ACL (#49)
  serverless/functions/create-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/scripts/deploy.js
Due: none

Add note about billing and services used.
  README.md
Due: none

update readme with proxy instructions
  apps/web/README.md
Due: web-app-updated

replace string "screen" with "presentation"
  apps/web/src/components/Buttons/TogglePresentationModeButton/TogglePresentationModeButton.test.tsx
  apps/web/src/components/Buttons/TogglePresentationModeButton/TogglePresentationModeButton.tsx
  apps/web/src/components/Buttons/ToogleScreenShareButton/ToggleScreenShareButton.test.tsx
  apps/web/src/components/MainParticipant/MainParticipant.test.tsx
  apps/web/src/components/MainParticipant/MainParticipant.tsx
  apps/web/src/components/MainParticipantInfo/MainParticipantInfo.test.tsx
  apps/web/src/components/MainParticipantInfo/MainParticipantInfo.tsx
  apps/web/src/components/MenuBar/MenuBar.test.tsx
  apps/web/src/components/MenuBar/MenuBar.tsx
  apps/web/src/components/Participant/Participant.tsx
  apps/web/src/components/ParticipantInfo/ParticipantInfo.tsx
  apps/web/src/components/ParticipantList/ParticipantList.test.tsx
  apps/web/src/components/ParticipantList/ParticipantList.tsx
  apps/web/src/components/ParticipantTracks/ParticipantTracks.test.tsx
  apps/web/src/components/ParticipantTracks/ParticipantTracks.tsx
  apps/web/src/components/VideoProvider/index.test.tsx
  apps/web/src/components/VideoProvider/index.tsx
  apps/web/src/components/VideoProvider/useHandleRoomDisconnection/useHandleRoomDisconnection.test.tsx
  apps/web/src/components/VideoProvider/useHandleRoomDisconnection/useHandleRoomDisconnection.ts
  apps/web/src/components/VideoProvider/usePresentationModeToggle/usePresentationModeToggle.test.tsx
  apps/web/src/components/VideoProvider/usePresentationModeToggle/usePresentationModeToggle.tsx
  apps/web/src/components/VideoTrack/VideoTrack.test.tsx
  apps/web/src/components/VideoTrack/VideoTrack.tsx
  apps/web/src/hooks/useMainParticipant/useMainParticipant.test.tsx
  apps/web/src/hooks/useMainParticipant/useMainParticipant.tsx
  apps/web/src/hooks/usePresentationParticipant/usePresentationParticipant.test.tsx
  apps/web/src/hooks/usePresentationParticipant/usePresentationParticipant.tsx
  apps/web/src/hooks/useScreenShareParticipant/useScreenShareParticipant.tsx
Due: web-app-updated

Use 1 sync service per stream
  serverless/constants.js
  serverless/functions/create-stream.js
  serverless/functions/delete-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/raise-hand.js
  serverless/functions/rooms-webhook.protected.js
  serverless/functions/send-speaker-invite.js
  serverless/scripts/deploy.js
  serverless/scripts/remove.js
Due: none

Backend changes
  serverless/functions/create-stream.js
  serverless/functions/raise-hand.js
  serverless/functions/sync-webhook.protected.js
Due: none

iOS changes
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
Due: ios-app-updated

Create viewer document for both viewers and speakers to simplify role changes
  serverless/functions/join-stream-as-speaker.js
Due: none

Add note about billing and services used. (#50)
  README.md
Due: none

Add comment
  serverless/functions/create-stream.js
Due: none

add auth
  apps/web/package.json
  apps/web/src/state/usePasscodeAuth/usePasscodeAuth.ts
  serverless/functions/create-stream.js
  serverless/functions/delete-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/raise-hand.js
  serverless/functions/rooms-webhook.protected.js
  serverless/functions/send-speaker-invite.js
  serverless/functions/verify-passcode.js
  serverless/middleware/auth.js
Due: web-app-updated

Make code a little more reusable
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/raise-hand.js
  serverless/functions/send-speaker-invite.js
  serverless/middleware/common.private.js
Due: none

revert naming changes
  apps/web/src/components/Buttons/TogglePresentationModeButton/TogglePresentationModeButton.test.tsx
  apps/web/src/components/Buttons/ToggleScreenShareButton/ToggleScreenShareButton.test.tsx
  apps/web/src/components/Buttons/ToggleScreenShareButton/ToggleScreenShareButton.tsx
  apps/web/src/components/MainParticipant/MainParticipant.test.tsx
  apps/web/src/components/MainParticipant/MainParticipant.tsx
  apps/web/src/components/MainParticipantInfo/MainParticipantInfo.test.tsx
  apps/web/src/components/MainParticipantInfo/MainParticipantInfo.tsx
  apps/web/src/components/MenuBar/MenuBar.test.tsx
  apps/web/src/components/MenuBar/MenuBar.tsx
  apps/web/src/components/Participant/Participant.tsx
  apps/web/src/components/ParticipantInfo/ParticipantInfo.tsx
  apps/web/src/components/ParticipantList/ParticipantList.test.tsx
  apps/web/src/components/ParticipantList/ParticipantList.tsx
  apps/web/src/components/ParticipantTracks/ParticipantTracks.test.tsx
  apps/web/src/components/ParticipantTracks/ParticipantTracks.tsx
  apps/web/src/components/VideoProvider/index.test.tsx
  apps/web/src/components/VideoProvider/index.tsx
  apps/web/src/components/VideoProvider/useHandleRoomDisconnection/useHandleRoomDisconnection.test.tsx
  apps/web/src/components/VideoProvider/useHandleRoomDisconnection/useHandleRoomDisconnection.ts
  apps/web/src/components/VideoProvider/useScreenShareToggle/useScreenShareToggle.test.tsx
  apps/web/src/components/VideoProvider/useScreenShareToggle/useScreenShareToggle.tsx
  apps/web/src/hooks/useMainParticipant/useMainParticipant.test.tsx
  apps/web/src/hooks/useMainParticipant/useMainParticipant.tsx
  apps/web/src/hooks/usePresentationParticipant/usePresentationParticipant.tsx
  apps/web/src/hooks/useScreenShareParticipant/useScreenShareParticipant.test.tsx
  apps/web/src/hooks/useScreenShareParticipant/useScreenShareParticipant.tsx
Due: web-app-updated

fix typo
  apps/web/src/components/VideoTrack/VideoTrack.test.tsx
Due: web-app-updated

VIDEO-7631: Use one sync service per stream (#52)
  serverless/constants.js
  serverless/functions/create-stream.js
  serverless/functions/delete-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/raise-hand.js
  serverless/functions/rooms-webhook.protected.js
  serverless/functions/send-speaker-invite.js
  serverless/middleware/common.private.js
  serverless/scripts/deploy.js
  serverless/scripts/remove.js
Due: none

VIDEO-7597: Enable sync reachability (#53)
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  serverless/functions/create-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/raise-hand.js
  serverless/functions/sync-webhook.protected.js
Due: ios-app-updated

End active player streamers and media processors when removing the app
  apps/web/package-lock.json
  package-lock.json
  package.json
  serverless/scripts/remove.js
Due: web-app-updated

Update package-lock.json
  apps/web/package-lock.json
Due: web-app-updated

VIDEO-7665 End active player streamers and media processors when removing the app (#54)
  package-lock.json
  package.json
  serverless/scripts/remove.js
Due: none

Add viewers to participants screen
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/CreateOrJoinStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/ViewerConnectedToPlayerRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/ViewersStore.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ViewersViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  serverless/functions/create-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/rooms-webhook.protected.js
  serverless/functions/sync-webhook.protected.js
  serverless/functions/viewer-connected-to-player.js
Due: ios-app-updated

Create SyncUsersStore to reuse code
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncUsersStore.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ViewersViewModel.swift
Due: ios-app-updated

Remove zombie deleted file
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/RaisedHandsStore.swift
Due: ios-app-updated

passcode auth
  apps/web/package.json
  apps/web/src/state/usePasscodeAuth/usePasscodeAuth.ts
  package-lock.json
  serverless/functions/create-stream.js
  serverless/functions/delete-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/raise-hand.js
  serverless/functions/rooms-webhook.protected.js
  serverless/functions/send-speaker-invite.js
  serverless/functions/verify-passcode.js
  serverless/middleware/auth.private.js
  serverless/scripts/deploy.js
Due: web-app-updated

Add speakers to participants list
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/CreateOrJoinStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ViewersViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  serverless/functions/create-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/rooms-webhook.protected.js
  serverless/functions/sync-webhook.protected.js
Due: ios-app-updated

Only show viewer connected alert once per stream
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
Due: ios-app-updated

condese verify passcode function
  apps/web/src/state/usePasscodeAuth/usePasscodeAuth.test.tsx
  apps/web/src/state/usePasscodeAuth/usePasscodeAuth.ts
  serverless/functions/verify-passcode.js
Due: web-app-updated

line formatting
  apps/web/package.json
  serverless/functions/create-stream.js
  serverless/functions/delete-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/raise-hand.js
  serverless/functions/rooms-webhook.protected.js
  serverless/functions/send-speaker-invite.js
  serverless/functions/verify-passcode.js
Due: web-app-updated

line formatting for deploy script
  serverless/scripts/deploy.js
Due: none

Add feature for host to mute speaker
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Helpers/JSONDecoderExtension.swift
  apps/ios/LiveVideo/LiveVideo/Helpers/JSONEncoderExtension.swift
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/SpeakerSettings/SpeakerSettingsManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/LocalParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RemoteParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomMessage.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Add API changes
  apps/ios/LiveVideo/LiveVideo/Managers/API/API.swift
Due: ios-app-updated

Fix player view flicker
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIPlayerView.swift
Due: ios-app-updated

Add host to sync
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncUsersStore.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
  serverless/functions/create-stream.js
  serverless/functions/rooms-webhook.protected.js
Due: ios-app-updated

Path conditions:
  backend-updated: any of: functions/.*
  web-app-updated: any of: apps/web/.*
  ios-app-updated: any of: apps/ios/.*
