Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            functions/.* backend-updated true
            apps/web/.* web-app-updated true
            apps/ios/.* ios-app-updated true
          base-revision: main 
          config-path: .circleci/continue_config.yml

Use enum instead of bool for stream state
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamStatusView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Improve comment
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/LocalParticipantManager.swift
Due: ios-app-updated

Disable dark mode
  apps/ios/LiveVideo/LiveVideo/Info.plist
Due: ios-app-updated

Replace notifications with combine
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Helpers/NotificationName.swift
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/SpeakerSettings/SpeakerSettingsManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/LocalParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RemoteParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Show publish errors to the user
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/LocalParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
Due: ios-app-updated

Fix local participant identity bug
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/LocalParticipantManager.swift
Due: ios-app-updated

Make toolbar icons larger
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbarButton.swift
Due: ios-app-updated

Increase spacing between speakers in grid
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
Due: ios-app-updated

Use 2 row grid when > 4 speakers in landscape
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
Due: ios-app-updated

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: web-app-updated

VIDEO-6751: Integrate video SDK into iOS app (#16)
  .circleci/continue_config.yml
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundStrong.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundStronger.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundStrongest.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BorderSuccessWeak.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/TextWeak.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Info.plist
  apps/ios/LiveVideo/LiveVideo/Launch/AppDelegate.swift
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Launch/SceneDelegate.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/TokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/SpeakerSettings/SpeakerSettingsManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/LocalParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RemoteParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/TrackName.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamConfig.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/JoinStream/JoinStreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamStatusView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbar.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbarButton.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIVideoView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/FormStack.swift
Due: ios-app-updated

Minor iOS video grid UX feedback (#18)
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbarButton.swift
Due: ios-app-updated

Add override option to deploy script
  package-lock.json
  package.json
  serverless/scripts/deploy.js
Due: none

Update npm scripts
  package.json
  serverless/scripts/deploy.js
Due: none

Move viewer to speakers
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/SendSpeakerInviteRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/StreamTokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/TokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/SyncRaisedHandsMapManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/SyncViewerDocumentManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbar.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  functions/send-speaker-invite.js
  functions/stream-token.js
  functions/sync-reply.js
  functions/token.js
  package-lock.json
Due: backend-updated, ios-app-updated

Add comments
  package-lock.json
  serverless/scripts/deploy.js
Due: none

Update scripts
  package.json
  serverless/constants.js
  serverless/scripts/deploy.js
Due: none

Refactor sync
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/SyncViewerDocumentManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/RaisedHandsStore.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SpeakersStore.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncClientManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/ViewerStore.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
Due: ios-app-updated

Update readme
  README.md
  serverless/scripts/deploy.js
Due: none

Add basic user onboarding flow
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/components/IntroContainer/IntroContainer.tsx
  apps/web/src/components/PreJoinScreens/CreateNewEventScreen/CreateNewEventScreen.tsx
  apps/web/src/components/PreJoinScreens/CreateOrJoinScreen/CreateOrJoinScreen.tsx
  apps/web/src/components/PreJoinScreens/DeviceSelectionScreen/DeviceSelectionScreen.tsx
  apps/web/src/components/PreJoinScreens/JoinEventScreen/JoinEventScreen.tsx
  apps/web/src/components/PreJoinScreens/ParticipantNameScreen/ParticipantNameScreen.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.test.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/components/PreJoinScreens/RoomNameScreen/RoomNameScreen.test.tsx
  apps/web/src/components/PreJoinScreens/RoomNameScreen/RoomNameScreen.tsx
  apps/web/src/components/PreJoinScreens/SpeakerOrViewerScreen/SpeakerOrViewerScreen.tsx
  apps/web/src/components/PreJoinScreens/prejoinReducer.ts
Due: web-app-updated

Start video preview on device selection screen
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
Due: web-app-updated

More refactor [skip ci]
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/API.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/StreamTokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/TokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Player/PlayerManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamConfig.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/SyncRaisedHandsMapManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/RaisedHandsStore.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SpeakersStore.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncClientManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/ViewerStore.swift
  apps/ios/LiveVideo/LiveVideo/Views/JoinStream/JoinStreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
Due: ios-app-updated

Refactor
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Managers/API/StreamTokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/TokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamConfig.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SpeakersStore.swift
  apps/ios/LiveVideo/LiveVideo/Views/JoinStream/JoinStreamView.swift
Due: ios-app-updated

Remove unnecessary env variables from README.
  README.md
Due: none

Refactor sync
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/RaisedHandsStore.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncStoring.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/ViewerStore.swift
Due: ios-app-updated

Small UI improvements
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
Due: ios-app-updated

Make backend work again
  apps/ios/LiveVideo/LiveVideo/Managers/API/TokenRequest.swift
  serverless/functions/create-stream.js
  serverless/functions/token.js
Due: ios-app-updated

Add new serverless functions
  serverless/functions/create-stream.js
  serverless/functions/delete-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/send-speaker-invite.js
  serverless/functions/sync-webhook.protected.js
  serverless/functions/token.js
Due: none

Update deploy script to add sync webhook
  serverless/scripts/deploy.js
Due: none

Update backend
  serverless/functions/delete-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/send-speaker-invite.js
  serverless/functions/sync-webhook.protected.js
  serverless/scripts/deploy.js
Due: none

Add instructions for using the app in the README.
  README.md
Due: none

cache playback grants to avoid rate limiting
  serverless/functions/stream-token.js
  serverless/functions/token.js
  serverless/middleware/common.private.js
Due: none

Make raise hand work end to end
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Managers/API/DeleteStream.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/SendSpeakerInviteRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/TokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
Due: ios-app-updated

Change event_name to stream_name
  serverless/functions/create-stream.js
  serverless/functions/delete-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
Due: none

Fix alerts
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Make things snake case
  serverless/functions/create-stream.js
  serverless/functions/delete-stream.js
Due: none

Add response to speaker invite
  serverless/functions/send-speaker-invite.js
Due: none

Add raise-hand endpoint
  serverless/functions/raise-hand.js
Due: none

Remove sync webhook
  serverless/functions/sync-webhook.protected.js
  serverless/scripts/deploy.js
Due: none

Lower participants hadn when they join as speaker
  serverless/functions/join-stream-as-speaker.js
Due: none
