Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

VIDEO-7121: Add passcode support to iOS app (#65)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo.xcodeproj/xcshareddata/xcschemes/LiveVideo.xcscheme
  apps/ios/LiveVideo/LiveVideo/Helpers/LiveVideoError.swift
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/API.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/VerifyPasscodeRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/Auth/AuthManager.swift
  apps/ios/LiveVideo/LiveVideo/Managers/Auth/PasscodeComponents.swift
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsKeys.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/EnterPasscodeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/EnterUserIdentityView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/SignInView.swift
  apps/ios/LiveVideo/LiveVideoTests/LiveVideoTests.swift
  apps/ios/LiveVideo/LiveVideoTests/PasscodeComponentsSpec.swift
Due: ios-app-updated

add paste, update participant name screen
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/public/index.html
  apps/web/src/components/PreJoinScreens/ParticipantNameScreen/ParticipantNameScreen.tsx
  package-lock.json
Due: web-app-updated

add theme provider
  apps/web/src/index.tsx
Due: web-app-updated

update create/join screen
  apps/web/src/components/PreJoinScreens/CreateOrJoinScreen/CreateOrJoinScreen.tsx
  apps/web/src/components/PreJoinScreens/ParticipantNameScreen/ParticipantNameScreen.tsx
Due: web-app-updated

move right arrow out of calloutbutton
  apps/web/src/components/PreJoinScreens/CreateOrJoinScreen/CreateOrJoinScreen.tsx
Due: web-app-updated

update create new screen
  apps/web/src/components/PreJoinScreens/CreateNewEventScreen/CreateNewEventScreen.tsx
Due: web-app-updated

Add passcode to readme
  README.md
Due: none

Improve update password command
  README.md
Due: none

VIDEO-7994: Add passcode to readme (#68)
  README.md
Due: none

Increase maxDuration to 30 minutes
  serverless/functions/create-stream.js
Due: none

Fix casing
  serverless/functions/create-stream.js
Due: none

Add max duration to readme
  README.md
Due: none

Get a start on adding host status
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/components/MainParticipantInfo/MainParticipantInfo.tsx
  apps/web/src/components/Participant/Participant.tsx
  apps/web/src/components/ParticipantInfo/ParticipantInfo.tsx
  apps/web/src/components/ParticipantList/ParticipantList.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/components/SyncProvider/index.tsx
  apps/web/src/hooks/useSpeakersMap/useSpeakersMap.ts
  apps/web/src/state/api/api.ts
Due: web-app-updated

Update readme
  README.md
Due: none

testing out
  apps/web/package.json
  apps/web/src/components/ParticipantWindow/ParticipantWindow.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/components/SyncProvider/index.tsx
  apps/web/src/hooks/useViewersMap/useViewersMap.tsx
  package-lock.json
Due: web-app-updated

more stuff
  apps/web/package.json
  apps/web/src/components/ParticipantWindow/ParticipantWindow.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/hooks/useViewersMap/useViewersMap.tsx
  apps/web/src/state/api/api.ts
  package-lock.json
Due: web-app-updated

remove host stuff
  apps/web/package.json
  apps/web/src/components/MainParticipantInfo/MainParticipantInfo.tsx
  apps/web/src/components/ParticipantWindow/RaisedHand/RaisedHand.tsx
  apps/web/src/hooks/useSpeakersMap/useSpeakersMap.ts
Due: web-app-updated

add list of viewers
  apps/web/src/components/Participant/Participant.tsx
  apps/web/src/components/ParticipantList/ParticipantList.tsx
  apps/web/src/components/ParticipantWindow/ParticipantWindow.tsx
Due: web-app-updated

remove more host info stuff
  apps/web/src/components/ParticipantInfo/ParticipantInfo.tsx
Due: web-app-updated

add ViewersList component
  apps/web/src/components/ParticipantWindow/ParticipantWindow.tsx
  apps/web/src/components/ParticipantWindow/RaisedHand/RaisedHand.tsx
  apps/web/src/components/ViewersList/ViewersList.tsx
Due: web-app-updated

add speakers list
  apps/web/src/components/SpeakersList/SpeakersList.tsx
Due: web-app-updated

add speakers to list
  apps/web/package.json
  apps/web/src/components/ParticipantWindow/ParticipantWindow.tsx
  apps/web/src/components/SpeakersList/SpeakersList.tsx
  package-lock.json
Due: web-app-updated

add speaker menu for host
  apps/web/src/components/SpeakersList/SpeakerMenu/SpeakerMenu.tsx
  apps/web/src/components/SpeakersList/SpeakersList.tsx
  apps/web/src/icons/SpeakerMenuIcon.tsx
Due: web-app-updated

add packagejson
  apps/web/package.json
Due: web-app-updated

add correct network quality
  apps/web/src/components/MainParticipantInfo/MainParticipantInfo.tsx
Due: web-app-updated

fix typo
  apps/web/src/hooks/useSpeakersMap/useSpeakersMap.ts
Due: web-app-updated

add participant window to player
  apps/web/src/components/Player/Player.tsx
  apps/web/src/components/Player/PlayerMenuBar/PlayerMenuBar.tsx
  apps/web/src/components/SpeakersList/SpeakersList.tsx
Due: web-app-updated

remove chat stuff from player
  apps/web/src/components/Player/Player.tsx
Due: web-app-updated

remove unnecessary grid
  apps/web/src/components/Player/PlayerMenuBar/PlayerMenuBar.tsx
Due: web-app-updated

remove more unused chat stuff
  apps/web/src/components/Player/PlayerMenuBar/PlayerMenuBar.tsx
Due: web-app-updated

remove typo
  apps/web/src/hooks/useViewersMap/useViewersMap.tsx
Due: web-app-updated

make lists scrollable
  apps/web/src/components/SpeakersList/SpeakersList.tsx
  apps/web/src/components/ViewersList/ViewersList.tsx
Due: web-app-updated

fix scrolling heights
  apps/web/src/components/SpeakersList/SpeakersList.tsx
  apps/web/src/components/ViewersList/ViewersList.tsx
Due: web-app-updated

add new url
  apps/web/package.json
Due: web-app-updated

Revert "remove host stuff"
  apps/web/src/components/MainParticipantInfo/MainParticipantInfo.tsx
  apps/web/src/components/ParticipantWindow/RaisedHand/RaisedHand.tsx
Due: web-app-updated

Revert "remove more host info stuff"
  apps/web/src/components/ParticipantInfo/ParticipantInfo.tsx
Due: web-app-updated

add host things back in
  apps/web/src/components/Participant/Participant.tsx
  apps/web/src/components/ParticipantList/ParticipantList.tsx
  apps/web/src/components/ViewersList/ViewersList.tsx
Due: web-app-updated

move handleInvite to viewers list
  apps/web/src/components/ParticipantWindow/ParticipantWindow.tsx
  apps/web/src/components/ViewersList/ViewersList.tsx
Due: web-app-updated

container shrink fix
  apps/web/src/components/ParticipantWindow/ParticipantWindowHeader/ParticipantWindowHeader.tsx
Due: web-app-updated

Path conditions:
  backend-updated: any of: functions/.*
  web-app-updated: any of: apps/web/.*
  ios-app-updated: any of: apps/ios/.*
