Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            functions/.* backend-updated true
            apps/web/.* web-app-updated true
            apps/ios/.* ios-app-updated true
          base-revision: main 
          config-path: .circleci/continue_config.yml

Remove unnecessary variable
  serverless/functions/create-stream.js
Due: none

Remove unused variable
  serverless/functions/create-stream.js
Due: none

Update apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIPlayerView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIPlayerView.swift
Due: ios-app-updated

add prettierrc
  .prettierrc
Due: none

VIDEO-7751: iOS Fix player view flicker (#58)
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIPlayerView.swift
Due: ios-app-updated

Add viewers to participants screen (#55)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/CreateOrJoinStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/ViewerConnectedToPlayerRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncUsersStore.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ViewersViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  serverless/functions/create-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/rooms-webhook.protected.js
  serverless/functions/sync-webhook.protected.js
  serverless/functions/viewer-connected-to-player.js
Due: ios-app-updated

Improvements
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoViewModel.swift
  serverless/functions/create-stream.js
Due: ios-app-updated

VIDEO-7601: Add speakers to participants screen (#56)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/CreateOrJoinStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ViewersViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  serverless/functions/create-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/rooms-webhook.protected.js
  serverless/functions/sync-webhook.protected.js
Due: ios-app-updated

Fix bugs
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  serverless/functions/rooms-webhook.protected.js
Due: ios-app-updated

Remove old code
  serverless/functions/create-stream.js
  serverless/functions/rooms-webhook.protected.js
Due: none

Fix bugs
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  serverless/functions/create-stream.js
  serverless/functions/rooms-webhook.protected.js
Due: ios-app-updated

VIDEO-7602: iOS allow host to mute speakers (#57)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Helpers/JSONDecoderExtension.swift
  apps/ios/LiveVideo/LiveVideo/Helpers/JSONEncoderExtension.swift
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/API.swift
  apps/ios/LiveVideo/LiveVideo/Managers/SpeakerSettings/SpeakerSettingsManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/LocalParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RemoteParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomMessage.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Add comment
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
Due: ios-app-updated

Revert SyncManager changes
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
Due: ios-app-updated

Remove unused code
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
Due: ios-app-updated

Remove unused code
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
Due: ios-app-updated

Small participants screen style changes
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsHeader.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
Due: ios-app-updated

remove unused code and ensure passcode functionality
  apps/web/package.json
  apps/web/src/components/AboutDialog/AboutDialog.tsx
  apps/web/src/components/IntroContainer/UserMenu/UserMenu.test.tsx
  apps/web/src/components/IntroContainer/UserMenu/UserMenu.tsx
  apps/web/src/components/LoginPage/LoginPage.tsx
  apps/web/src/components/MenuBar/Menu/Menu.tsx
  apps/web/src/components/PreJoinScreens/DeviceSelectionScreen/SettingsMenu/SettingsMenu.tsx
  apps/web/src/components/PrivateRoute/PrivateRoute.tsx
  apps/web/src/state/index.test.tsx
  apps/web/src/state/index.tsx
  apps/web/src/utils/useConnectionOptions/useConnectionOptions.ts
Due: web-app-updated

VIDEO-7753: Add host state to sync (#59)
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncUsersStore.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  serverless/functions/create-stream.js
  serverless/functions/rooms-webhook.protected.js
Due: ios-app-updated

VIDEO-7754: iOS small participants screen style changes (#60)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsHeader.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
Due: ios-app-updated

fix new line error
  apps/web/.prettierrc
Due: web-app-updated

Backend changes
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/send-speaker-invite.js
Due: none

remove unneeded prettierrc and fix error
  .prettierrc
  apps/web/.prettierrc
Due: web-app-updated

iOS changes
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/CreateOrJoinStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncObjectConnecting.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncUserDocument.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncUsersMap.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
Due: ios-app-updated

Web changes
  apps/web/src/components/Buttons/LeaveEventButton/LeaveEventButton.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/components/SyncProvider/index.tsx
  apps/web/src/state/api/api.ts
Due: web-app-updated

VIDEO-7752: Rename viewer document (#62)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/CreateOrJoinStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncObjectConnecting.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncUserDocument.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncUsersMap.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/web/src/components/Buttons/LeaveEventButton/LeaveEventButton.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/components/SyncProvider/index.tsx
  apps/web/src/state/api/api.ts
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/send-speaker-invite.js
Due: web-app-updated, ios-app-updated

add passcode to URL and add or remove auth handler accordingly
  serverless/functions/rooms-webhook.protected.js
  serverless/functions/viewer-connected-to-player.js
  serverless/scripts/list.js
Due: none

Allow host to move speaker to viewers
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Helpers/LiveVideoError.swift
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/RemoveSpeakerRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  serverless/functions/remove-speaker.js
Due: ios-app-updated

clean up variables
  apps/web/src/components/PrivateRoute/PrivateRoute.tsx
  apps/web/src/state/index.tsx
  apps/web/src/state/usePasscodeAuth/usePasscodeAuth.ts
  serverless/functions/verify-passcode.js
Due: web-app-updated

Prevent users from joining event while device permission window is pending
  apps/web/src/components/PreJoinScreens/DeviceSelectionScreen/DeviceSelectionScreen.tsx
Due: web-app-updated

Start to implement passcode
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Helpers/LiveVideoError.swift
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/API.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/VerifyPasscodeRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/Auth/AuthManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/PasscodeComponents.swift
Due: ios-app-updated

Make passcode work
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Managers/API/API.swift
  apps/ios/LiveVideo/LiveVideo/Managers/Auth/AuthManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/PasscodeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/SignInView.swift
Due: ios-app-updated

Refactor
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Managers/API/API.swift
  apps/ios/LiveVideo/LiveVideo/Managers/Auth/AuthManager.swift
  apps/ios/LiveVideo/LiveVideo/Managers/Auth/PasscodeComponents.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/PasscodeComponents.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/PasscodeView.swift
Due: ios-app-updated

Improve UI
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Managers/API/VerifyPasscodeRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/Auth/AuthManager.swift
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsKeys.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/EnterPasscodeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/EnterUserIdentityView.swift
Due: ios-app-updated

Add unit tests
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo.xcodeproj/xcshareddata/xcschemes/LiveVideo.xcscheme
  apps/ios/LiveVideo/LiveVideoTests/LiveVideoTests.swift
  apps/ios/LiveVideo/LiveVideoTests/PasscodeComponentsSpec.swift
Due: ios-app-updated

Add comment
  apps/ios/LiveVideo/LiveVideo/Managers/API/VerifyPasscodeRequest.swift
Due: ios-app-updated

Allow host to move speaker to viewers (#63)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Helpers/LiveVideoError.swift
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/RemoveSpeakerRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  serverless/functions/remove-speaker.js
Due: ios-app-updated

Fix intermittent navigation bug
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
Due: ios-app-updated

Add comment to explain all API responses are called on the main queue
  apps/ios/LiveVideo/LiveVideo/Managers/API/API.swift
Due: ios-app-updated
