Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

VIDEO-6584: Add iOS app (#5)
  .circleci/config.yml
  .circleci/continue_config.yml
  .gitignore
  Gemfile
  Gemfile.lock
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  apps/ios/LiveVideo/LiveVideo.xcodeproj/xcshareddata/IDETemplateMacros.plist
  apps/ios/LiveVideo/LiveVideo.xcodeproj/xcshareddata/xcschemes/LiveVideo.xcscheme
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AccentColor.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Contents.json
  apps/ios/LiveVideo/LiveVideo/ContentView.swift
  apps/ios/LiveVideo/LiveVideo/Info.plist
  apps/ios/LiveVideo/LiveVideo/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Preview Content/Preview Assets.xcassets/Contents.json
  apps/ios/LiveVideo/LiveVideoTests/Info.plist
  apps/ios/LiveVideo/LiveVideoTests/LiveVideoTests.swift
  apps/ios/LiveVideo/LiveVideoUITests/Info.plist
  apps/ios/LiveVideo/LiveVideoUITests/LiveVideoUITests.swift
  apps/ios/LiveVideo/fastlane/Appfile
  apps/ios/LiveVideo/fastlane/Fastfile
  apps/ios/LiveVideo/fastlane/README.md
Due: ios-app-updated

VIDEO-6585: Add basic sign in UI (#6)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/FormBackgroundColor.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/FormFieldBordercolor.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/PrimaryButtonBackgroundDisabledColor.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/PrimaryButtonBackgroundEnabledColor.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/InAppSettings.bundle/Root.plist
  apps/ios/LiveVideo/LiveVideo/InAppSettings.bundle/en.lproj/Root.strings
  apps/ios/LiveVideo/LiveVideo/Info.plist
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/AppInfo/AppInfoStore.swift
  apps/ios/LiveVideo/LiveVideo/Managers/Auth/AuthManager.swift
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsKeys.swift
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/SettingsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/SignInView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/FormTextFieldStyle.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/PrimaryButtonStyle.swift
Due: ios-app-updated

Add player SDK and show version in settings
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/InAppSettings.bundle/Root.plist
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsKeys.swift
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsManager.swift
Due: ios-app-updated

Play stream
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AccentColor.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/VideoGridBackgroundColor.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Helpers/LiveVideoError.swift
  apps/ios/LiveVideo/LiveVideo/Info.plist
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/API.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/APIErrorResponse.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/APIRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/StreamTokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Player/PlayerManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamConfig.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/JoinStream/JoinStreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/SettingsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/SignInView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIPlayerView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/ErrorAlert.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/FormStack.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/PrimaryButtonStyle.swift
Due: ios-app-updated

Add Artifactory config to CI
  .circleci/.netrc
  .circleci/continue_config.yml
Due: none

Make CI configure backend URL
  .circleci/continue_config.yml
Due: none

Add comment
  apps/ios/LiveVideo/LiveVideo/Twilio/Player/PlayerManager.swift
Due: ios-app-updated

Add player chrome
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/DestructiveColor.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/LiveBadgeBackgroundColor.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/VideoToolbarTextColor.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
Due: ios-app-updated

Use custom toolbar
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Views/Stream/LiveBadge.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Add support for dev and stage
  common/common.private.js
Due: none

Log timed metadata in web player
  apps/web/src/components/Player/Player.tsx
Due: web-app-updated

Use new MediaProcessor resource
  .env.example
  bin/deploy.js
  functions/delete-stream.js
  functions/stream-token.js
  functions/token.js
Due: backend-updated

Revert "Use new MediaProcessor resource"
  .env.example
  bin/deploy.js
  functions/delete-stream.js
  functions/stream-token.js
  functions/token.js
Due: backend-updated

Revert "Add support for dev and stage"
  common/common.private.js
Due: none

Revert "Log timed metadata in web player"
  apps/web/src/components/Player/Player.tsx
Due: web-app-updated

Add support for dev and stage
  apps/web/src/components/Player/Player.tsx
Due: web-app-updated

Use new MediaProcessor endpoint
  .env.example
  bin/deploy.js
  functions/delete-stream.js
  functions/stream-token.js
  functions/token.js
Due: backend-updated

Add progress view
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Twilio/Player/PlayerManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Implement network delegate function
  apps/ios/LiveVideo/LiveVideo/Twilio/Player/PlayerManager.swift
Due: ios-app-updated

VIDEO-6745: iOS play stream (#11)
  .circleci/.netrc
  .circleci/continue_config.yml
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AccentColor.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/VideoGridBackgroundColor.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Helpers/LiveVideoError.swift
  apps/ios/LiveVideo/LiveVideo/InAppSettings.bundle/Root.plist
  apps/ios/LiveVideo/LiveVideo/Info.plist
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/API.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/APIErrorResponse.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/APIRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/StreamTokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsKeys.swift
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Player/PlayerManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamConfig.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/JoinStream/JoinStreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/SettingsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/SignInView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIPlayerView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/ErrorAlert.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/FormStack.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/PrimaryButtonStyle.swift
Due: ios-app-updated

Use root level .env file for deploy command
  bin/deploy.js
  package-lock.json
  package.json
Due: none

Add stage environment variables to env.example
  .env.example
Due: none

Update media extension and rename livePlayerStreamer
  .env.example
  common/common.private.js
  functions/delete-stream.js
  functions/stream-token.js
  functions/token.js
Due: backend-updated

Add additional comment in example env
  .env.example
Due: none

Add README
  README.md
  apps/web/package-lock.json
  package-lock.json
Due: web-app-updated

Revert package lock updates
  apps/web/package-lock.json
  package-lock.json
Due: web-app-updated

VIDEO-6582 Write README (#13)
  README.md
Due: none

Refactor
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/LiveBadge.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamStatusView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbar.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbarButton.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/ProgressHUD.swift
Due: ios-app-updated

Refactor
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/LiveBadge.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbarButton.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/ProgressHUD.swift
Due: ios-app-updated

Small UI changes
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/Background.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundBrandStronger.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundDestructive.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundLiveBadge.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundPrimary.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundPrimaryWeak.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/Border.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/TextIcon.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Views/Stream/LiveBadge.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamStatusView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbar.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbarButton.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/FormStack.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/FormTextFieldStyle.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/PrimaryButtonStyle.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/ProgressHUD.swift
Due: ios-app-updated

Minor improvements
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
Due: ios-app-updated

Use npx to run the local copy of twilio-run
  bin/deploy.js
Due: none

Update README to list NPM 7 as minimum version
  README.md
Due: none

Move some dependencies to devdependencies
  package-lock.json
  package.json
Due: none

Rename roomName to streamName when possible
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamConfig.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/JoinStream/JoinStreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamStatusView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Add code from video app
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Notifications.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Participants/LocalParticipant.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Participants/Participant.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Participants/ParticipantDelegate.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Participants/RemoteParticipant.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Room/ConnectOptionsFactory.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Room/RoomFactory.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Room/RoomState.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Tracks/Camera/CameraConfigFactory.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Tracks/Camera/CameraManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Tracks/Camera/CameraManagerFactory.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Tracks/Camera/CameraSourceFactory.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Tracks/Camera/CameraTrackFactory.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Tracks/Core/LocalVideoTrack.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Tracks/Core/RemoteVideoTrack.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Tracks/Core/TrackName.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Tracks/Core/VideoSource.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Tracks/Core/VideoTrack.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Tracks/Mic/MicTrackFactory.swift
Due: ios-app-updated

Make video work with SwiftUI
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Info.plist
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/TokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Room/RoomFactory.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamConfig.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/JoinStream/JoinStreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIVideoView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/VideoGridView.swift
Due: ios-app-updated

Change app target deployment to iOS 14.5 to avoid Apple bug
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
Due: ios-app-updated

Fix unit test target
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
Due: ios-app-updated

Path conditions:
  backend-updated: any of: functions/.*
  web-app-updated: any of: apps/web/.*
  ios-app-updated: any of: apps/ios/.*
