Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            functions/.* backend-updated true
            apps/web/.* web-app-updated true
            apps/ios/.* ios-app-updated true
          base-revision: main 
          config-path: .circleci/continue_config.yml

Close menu on close
  apps/web/src/components/SpeakersList/SpeakerMenu/SpeakerMenu.tsx
Due: web-app-updated

Add comments about array buffer
  apps/web/src/components/DataTrack/DataTrack.tsx
  apps/web/src/components/SpeakersList/SpeakerMenu/SpeakerMenu.tsx
Due: web-app-updated

Rely on rooms webhook for most end stream cleanup
  serverless/functions/delete-stream.js
Due: none

Rely on rooms webhook for most end stream cleanup (#87)
  serverless/functions/delete-stream.js
Due: none

add url
  apps/web/package.json
Due: web-app-updated

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: web-app-updated

Get presentation layout sort of working
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RemoteParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/TrackName.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresentationView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresentationViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Fix dominant speaker updates
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresentationView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresentationViewModel.swift
Due: ios-app-updated

Refactor
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncUsersMap.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/DisplayNameFactory.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresentationViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/SpeakerVideoViewModelFactory.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoViewModel.swift
Due: ios-app-updated

Improve UI
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresentationView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresentationViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresenterStatus.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIVideoView.swift
Due: ios-app-updated

Landscape orientation
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresentationVideoView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresentationView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresenterStatus.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresenterStatusView.swift
Due: ios-app-updated

Refactor
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresentationView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresentationViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Refactor
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/DisplayNameFactory.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/Presentation/PresentationView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/PresentationLayout/PresentationLayoutView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/PresentationLayout/PresentationLayoutViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/PresentationLayout/PresentationStatusView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/PresentationLayout/PresentationVideoView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoViewModelFactory.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Update web postinstall script for better PowerShell compatibility
  apps/web/package-lock.json
  apps/web/package.json
Due: web-app-updated

Fix small issues
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RemoteParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/TrackName.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/PresentationLayout/PresentationLayoutView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/PresentationLayout/PresentationLayoutViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Delete old files
  apps/web/.gcloudignore
  apps/web/CHANGELOG.md
  apps/web/app.yaml
  apps/web/cypress.json
  apps/web/cypress/fixtures/blue.png
  apps/web/cypress/fixtures/blue.y4m
  apps/web/cypress/fixtures/green.png
  apps/web/cypress/fixtures/green.y4m
  apps/web/cypress/fixtures/red.png
  apps/web/cypress/fixtures/red.y4m
  apps/web/cypress/integration/twilio-video.spec.js
  apps/web/cypress/plugins/index.js
  apps/web/cypress/reporter-config.json
  apps/web/cypress/support/commands.js
  apps/web/cypress/support/customAssertions.js
  apps/web/cypress/support/detectSound.js
  apps/web/cypress/support/index.js
  apps/web/package.json
  apps/web/server/__tests__/bootstrap-globals.test.ts
  apps/web/server/__tests__/createExpressHandler.test.ts
  apps/web/server/__tests__/firebaseMiddleware.test.ts
  apps/web/server/auth-handler.ts
  apps/web/server/bootstrap-globals.ts
  apps/web/server/createExpressHandler.ts
  apps/web/server/firebaseAuthMiddleware.ts
  apps/web/server/index.ts
  apps/web/server/tsconfig.json
  apps/web/server/types.ts
  apps/web/twilio-player-sdk-1.0.0-preview.9.tgz
Due: web-app-updated

Remove unused dependencies
  apps/web/package-lock.json
  apps/web/package.json
Due: web-app-updated

Set up proxy to use root level env file
  .env.example
  apps/web/src/setupProxy.js
  package.json
Due: web-app-updated

Update readme with local development instructions
  README.md
Due: none

Delete web app readme
  apps/web/.env.example
  apps/web/README.md
Due: web-app-updated

Comment out web proxy url
  .env.example
Due: none

iOS add presentation layout (#94)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RemoteParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/TrackName.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncUsersMap.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/DisplayNameFactory.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/PresentationLayout/PresentationLayoutView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/PresentationLayout/PresentationLayoutViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/PresentationLayout/PresentationStatusView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/PresentationLayout/PresentationVideoView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoViewModelFactory.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIVideoView.swift
Due: ios-app-updated

Move host controls to menu button
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/HostControls/HostControlsManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/PresentationLayout/PresentationLayoutView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Move host controls to menu button (#96)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/HostControls/HostControlsManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/PresentationLayout/PresentationLayoutView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

fix typo in readme
  README.md
Due: none

add changelog
  CHANGELOG.md
Due: none

paging remove renderer works somehow
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RemoteParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIVideoView.swift
Due: ios-app-updated

Verified window change is turning track on/off
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIVideoView.swift
Due: ios-app-updated

Get 1 x 2 grid working
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/PresentationLayout/PresentationLayoutView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Final prototype
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RemoteParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerVideoViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIVideoView.swift
Due: ios-app-updated

update date
  CHANGELOG.md
Due: none

update web version
  apps/web/package.json
Due: web-app-updated

Update iOS app version
  apps/ios/LiveVideo/LiveVideo/Info.plist
  apps/ios/LiveVideo/LiveVideoTests/Info.plist
  apps/ios/LiveVideo/LiveVideoUITests/Info.plist
Due: ios-app-updated
