Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

Remove hand_raised from viewer document
  serverless/functions/join-stream-as-viewer.js
Due: none

Add code of conduct and license
  .gitignore
  CODE_OF_CONDUCT.md
  LICENSE
Due: none

Add code of conduct and license (#24)
  .gitignore
  CODE_OF_CONDUCT.md
  LICENSE
Due: none

Small UX improvements
  apps/ios/LiveVideo/LiveVideo/Info.plist
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/SettingsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbar.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbarButton.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/ProgressHUD.swift
Due: ios-app-updated

Add raised hands badge
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/RaisedHandsStore.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbarButton.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Fix bugs
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  serverless/functions/join-stream-as-speaker.js
Due: ios-app-updated

Add app icon
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon1024.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon20@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon20@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon29@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon29@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon40@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon40@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon60@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon60@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/Contents.json
Due: ios-app-updated

Change app display name
  apps/ios/LiveVideo/LiveVideo/Info.plist
Due: ios-app-updated

Use stream_name in raise-hand endpoint
  serverless/functions/raise-hand.js
Due: none

Fix edge case in join-stream-as-viewer
  serverless/functions/join-stream-as-viewer.js
Due: none

Typo
  serverless/functions/join-stream-as-speaker.js
Due: none

Fix bug with undefined viewerDocument
  serverless/functions/join-stream-as-viewer.js
Due: none

Fix typo for playback grant
  serverless/functions/join-stream-as-viewer.js
Due: none

Fix bug in join-stream-as-speaker
  serverless/functions/join-stream-as-speaker.js
Due: none

Make work with new backend
  apps/ios/LiveVideo/LiveVideo/Managers/API/DeleteStream.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/SendSpeakerInviteRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/TokenRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
Due: ios-app-updated

Add iOS app icon (#25)
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon1024.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon20@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon20@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon29@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon29@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon40@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon40@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon60@2x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/AppIcon60@3x.png
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Info.plist
Due: ios-app-updated

Update raise-hand function
  serverless/functions/raise-hand.js
Due: none

Fix raised hand
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Managers/API/RaiseHandRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
Due: ios-app-updated

Add await
  serverless/functions/raise-hand.js
Due: none

Remove old code
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/ViewerStore.swift
Due: ios-app-updated

Refactor
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Managers/API/CreateOrJoinStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/DeleteStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
Due: ios-app-updated

Remove backend changes [skip ci]
  package-lock.json
  serverless/functions/create-stream.js
  serverless/functions/delete-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/send-speaker-invite.js
  serverless/functions/stream-token.js
  serverless/functions/sync-webhook.protected.js
  serverless/functions/token.js
  serverless/scripts/deploy.js
Due: none

Raised hands improvements [skip ci]
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/RaisedHandsStore.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncStoring.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/ViewerStore.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Polish
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Install axios
  apps/web/package-lock.json
  apps/web/package.json
Due: web-app-updated

Move prejoin reducer to app state provider
  apps/web/src/state/index.tsx
  apps/web/src/state/preJoinState/prejoinReducer.ts
Due: web-app-updated

Add api functions
  apps/web/src/state/api/api.ts
Due: web-app-updated

Add PlayerContext
  apps/web/src/components/PlayerProvider/index.tsx
  apps/web/src/hooks/usePlayerContext/usePlayerContext.ts
Due: web-app-updated

Implement new onboarding flow
  apps/web/src/components/PreJoinScreens/CreateNewEventScreen/CreateNewEventScreen.tsx
  apps/web/src/components/PreJoinScreens/CreateOrJoinScreen/CreateOrJoinScreen.tsx
  apps/web/src/components/PreJoinScreens/DeviceSelectionScreen/DeviceSelectionScreen.tsx
  apps/web/src/components/PreJoinScreens/JoinEventScreen/JoinEventScreen.tsx
  apps/web/src/components/PreJoinScreens/LoadingScreen/LoadingScreen.tsx
  apps/web/src/components/PreJoinScreens/ParticipantNameScreen/ParticipantNameScreen.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/components/PreJoinScreens/SpeakerOrViewerScreen/SpeakerOrViewerScreen.tsx
Due: web-app-updated

Set up player to load on connect
  apps/web/src/App.tsx
  apps/web/src/components/Player/Player.tsx
  apps/web/src/components/Player/PlayerMenuBar/PlayerMenuBar.tsx
  apps/web/src/index.tsx
Due: web-app-updated

Remove Link from About Menu
  apps/web/src/components/AboutDialog/AboutDialog.tsx
Due: web-app-updated

More polish [skip ci]
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/RoomManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Participants/ParticipantsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Fix some bugs
  serverless/functions/join-stream-as-viewer.js
  serverless/functions/raise-hand.js
Due: none

Install sync
  apps/web/package-lock.json
  apps/web/package.json
Due: web-app-updated

Implement raise hand feature and promotion feature for viewers
  apps/web/src/App.tsx
  apps/web/src/components/Buttons/EndCallButton/EndCallButton.tsx
  apps/web/src/components/IntroContainer/IntroContainer.tsx
  apps/web/src/components/Player/Player.tsx
  apps/web/src/components/Player/PlayerMenuBar/PlayerMenuBar.tsx
  apps/web/src/components/PlayerProvider/index.tsx
  apps/web/src/components/PreJoinScreens/CreateNewEventScreen/CreateNewEventScreen.tsx
  apps/web/src/components/PreJoinScreens/CreateOrJoinScreen/CreateOrJoinScreen.tsx
  apps/web/src/components/PreJoinScreens/DeviceSelectionScreen/DeviceSelectionScreen.tsx
  apps/web/src/components/PreJoinScreens/JoinEventScreen/JoinEventScreen.tsx
  apps/web/src/components/PreJoinScreens/ParticipantNameScreen/ParticipantNameScreen.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/components/PreJoinScreens/SpeakerOrViewerScreen/SpeakerOrViewerScreen.tsx
  apps/web/src/components/SyncProvider/index.tsx
  apps/web/src/hooks/useSyncContext/useSyncContext.ts
  apps/web/src/index.tsx
  apps/web/src/state/api/api.ts
  apps/web/src/state/appState/appReducer.ts
  apps/web/src/state/index.tsx
Due: web-app-updated

Add feature to invite viewers with raised hand
  apps/web/src/components/Buttons/ToggleParticipantWindow/ToggleParticipantWindowButton.tsx
  apps/web/src/components/MenuBar/MenuBar.tsx
  apps/web/src/components/ParticipantWindow/ParticipantWindow.tsx
  apps/web/src/components/ParticipantWindow/ParticipantWindowHeader/ParticipantWindowHeader.tsx
  apps/web/src/components/ParticipantWindow/RaisedHand/RaisedHand.tsx
  apps/web/src/components/Player/PlayerMenuBar/PlayerMenuBar.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/components/Room/Room.tsx
  apps/web/src/components/SyncProvider/index.tsx
  apps/web/src/hooks/useParticipants/useParticipants.tsx
  apps/web/src/hooks/useRaisedHandsMap/useRaisedHandsMap.ts
  apps/web/src/state/api/api.ts
  apps/web/src/state/appState/appReducer.ts
Due: web-app-updated

Small changes
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/RaisedHandsStore.swift
Due: ios-app-updated

Add rooms-webhook to cleanup unused streaming resources
  serverless/functions/create-stream.js
  serverless/functions/rooms-webhook.js
Due: none

Protect rooms-webhook function
  serverless/functions/rooms-webhook.protected.js
Due: none

Change launch screen
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/LaunchBackground.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/LaunchBackground.imageset/LaunchBackground.pdf
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/LiveVideoLaunchLogo.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/LiveVideoLaunchLogo.imageset/LiveVideoLaunchLogo.pdf
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/TwilioLaunchLogo.imageset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/TwilioLaunchLogo.imageset/TwilioLaunchLogo.pdf
  apps/ios/LiveVideo/LiveVideo/InAppSettings.bundle/LaunchScreen.storyboard
  apps/ios/LiveVideo/LiveVideo/Info.plist
  apps/ios/LiveVideo/LiveVideo/LaunchScreen.storyboard
Due: ios-app-updated

Path conditions:
  backend-updated: any of: functions/.*
  web-app-updated: any of: apps/web/.*
  ios-app-updated: any of: apps/ios/.*
