Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

add conversation logic to join-stream-as-viewer endpoint
  serverless/functions/join-stream-as-viewer.js
Due: none

Make unread dot work and fix a couple bugs
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Chat/ChatMessageList.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

add room_sid to backend
  serverless/functions/create-stream.js
  serverless/functions/join-stream-as-speaker.js
Due: none

add chatfeature to audience
  apps/web/src/components/ChatProvider/index.tsx
  apps/web/src/components/ChatWindow/ChatWindow.tsx
  apps/web/src/components/ChatWindow/MessageList/MessageList.tsx
  apps/web/src/components/Player/Player.tsx
  apps/web/src/components/Player/PlayerMenuBar/PlayerMenuBar.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/state/api/api.ts
  apps/web/src/state/appState/appReducer.ts
Due: web-app-updated

get rid of unnecesary appState updates
  apps/web/src/components/ChatWindow/ChatWindow.tsx
  apps/web/src/components/ChatWindow/MessageList/MessageList.tsx
  apps/web/src/components/Player/Player.tsx
  apps/web/src/components/Player/PlayerMenuBar/PlayerMenuBar.tsx
  apps/web/src/state/appState/appReducer.ts
Due: web-app-updated

remve unused variables and keywords from chatProvider
  apps/web/src/components/ChatProvider/index.tsx
Due: web-app-updated

formatting fix
  apps/web/src/state/appState/appReducer.ts
Due: web-app-updated

Get room SID from backend
  apps/ios/LiveVideo/LiveVideo/Managers/API/CreateOrJoinStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
Due: ios-app-updated

Fix chat not working after user changes role
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
Due: ios-app-updated

add feature flag to backend
  .env.example
  serverless/functions/create-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/scripts/deploy.js
Due: none

support feature flag on frontend
  apps/web/src/components/Buttons/ToggleChatButton/ToggleChatButton.tsx
  apps/web/src/components/MenuBar/MenuBar.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/state/api/api.ts
  apps/web/src/state/appState/appReducer.ts
Due: web-app-updated

fix linter error
  .env.example
Due: none

destructure DISABLE_CHAT from serverless context
  serverless/functions/create-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
Due: none

remove console.log
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
Due: web-app-updated

Add chat feature flag
  apps/ios/LiveVideo/LiveVideo/Managers/API/CreateOrJoinStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

dont add chatGrant to token if chat is disabled
  serverless/functions/create-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
  serverless/scripts/deploy.js
Due: none

make hasSpeakerInvite consistent with other prejoinscreen cases
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
Due: web-app-updated

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: web-app-updated

Add basic API documentation for the reference backend
  README.md
  ReferenceBackendAPI.md
Due: none

Fix typos
  ReferenceBackendAPI.md
Due: none

Update ReferenceBackendAPI.md
  ReferenceBackendAPI.md
Due: none

PR feedback
  ReferenceBackendAPI.md
Due: none

More updates
  ReferenceBackendAPI.md
Due: none

Removed .idea folder files. Added to .gitignore
  apps/android/LiveVideoApp/.gitignore
  apps/android/LiveVideoApp/.idea/.gitignore
  apps/android/LiveVideoApp/.idea/.name
  apps/android/LiveVideoApp/.idea/compiler.xml
  apps/android/LiveVideoApp/.idea/gradle.xml
  apps/android/LiveVideoApp/.idea/misc.xml
  apps/android/LiveVideoApp/.idea/vcs.xml
Due: none

fix: Gemfile.lock to reduce vulnerabilities
  Gemfile.lock
Due: none

Add basic API documentation for the reference backend (#126)
  README.md
  ReferenceBackendAPI.md
Due: none

Configure recording when creating media processor
  serverless/constants.js
  serverless/functions/create-stream.js
Due: none

Handle recording error in media processor callback
  serverless/functions/create-stream.js
  serverless/functions/media-processor-webhook.js
  serverless/functions/media-processor-webhook.protected.js
Due: none

Path conditions:
  backend-updated: any of: functions/.*
  web-app-updated: any of: apps/web/.*
  ios-app-updated: any of: apps/ios/.*
