Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            functions/.* backend-updated true
            apps/web/.* web-app-updated true
            apps/ios/.* ios-app-updated true
          base-revision: main 
          config-path: .circleci/continue_config.yml

Minor fixes
  apps/ios/LiveVideo/LiveVideo/Views/Home/EnvironmentBadge.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
Due: ios-app-updated

Small improvements I made during work on audio streaming app
  apps/ios/LiveVideo/LiveVideo/Managers/AppSettings/TwilioEnvironment.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
Due: ios-app-updated

Make it easier to change Twilio environment (#110)
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/InAppSettings.bundle/LaunchScreen.storyboard
  apps/ios/LiveVideo/LiveVideo/InAppSettings.bundle/Root.plist
  apps/ios/LiveVideo/LiveVideo/InAppSettings.bundle/en.lproj/Root.strings
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/AppSettings/AppSettingsManager.swift
  apps/ios/LiveVideo/LiveVideo/Managers/AppSettings/TwilioEnvironment.swift
  apps/ios/LiveVideo/LiveVideo/Managers/Auth/AuthManager.swift
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsKeys.swift
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/EnvironmentBadge.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/GeneralSettingsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/SettingsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/SignInSettingsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/TitleValueView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/EnterUserIdentityView.swift
  apps/web/scripts/build.js
  apps/web/src/components/ChatProvider/index.tsx
  apps/web/src/components/SyncProvider/index.tsx
  serverless/middleware/auth.private.js
  serverless/scripts/deploy.js
  serverless/scripts/list.js
  serverless/scripts/remove.js
Due: web-app-updated, ios-app-updated

Add recording indicator to the Player component
  apps/web/src/components/Player/Player.tsx
Due: web-app-updated

Add recording error to useIsRecording hook
  apps/web/src/hooks/useIsRecording/useIsRecording.ts
Due: web-app-updated

Update usage of useIsRecording Hook
  apps/web/src/components/MainParticipantInfo/MainParticipantInfo.tsx
  apps/web/src/components/RecordingNotifications/RecordingNotifications.tsx
Due: web-app-updated

Add useRecordingNotifications hook
  apps/web/src/components/Room/Room.tsx
  apps/web/src/hooks/useRecordingNotifications/useRecordingNotifications.ts
Due: web-app-updated

Fix positioning of the Recording bagde
  apps/web/src/components/Player/Player.tsx
Due: web-app-updated

Remove old RecordingNotifications component
  apps/web/src/App.tsx
  apps/web/src/components/MainParticipantInfo/MainParticipantInfo.tsx
  apps/web/src/components/RecordingNotifications/RecordingNoticifaction.test.tsx
  apps/web/src/components/RecordingNotifications/RecordingNotifications.tsx
Due: web-app-updated

Update useRecordingNotifications
  apps/web/src/hooks/useRecordingNotifications/useRecordingNotifications.ts
Due: web-app-updated

Refactor delete-stream function
  serverless/functions/delete-stream.js
Due: none

Refactor raise-hand endpoint
  serverless/functions/raise-hand.js
Due: none

Refactor viewer-connected-to-player endpoint
  serverless/functions/viewer-connected-to-player.js
Due: none

Refactor sync-webhook
  serverless/functions/sync-webhook.protected.js
Due: none

Refactor rooms-webhook
  serverless/functions/rooms-webhook.protected.js
Due: none

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: web-app-updated

Update player SDK
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: ios-app-updated

Integrate conversations SDK
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatMessage.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatView.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamToolbar.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Small changes
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatView.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
Due: ios-app-updated

Improve stubs for UI previews
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatMessage.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatView.swift
Due: ios-app-updated

Setup proxy so it doesn't forward assets
  apps/web/src/setupProxy.js
Due: web-app-updated

Add disconnect functions for chat and sync
  apps/web/src/components/ChatProvider/index.tsx
  apps/web/src/components/SyncProvider/index.tsx
Due: web-app-updated

Call chat and sync disconnect functions when leaving event
  apps/web/src/components/Buttons/EndEventButton/EndEventButton.tsx
  apps/web/src/components/Buttons/LeaveEventButton/LeaveEventButton.tsx
  apps/web/src/components/Player/PlayerMenuBar/PlayerMenuBar.tsx
Due: web-app-updated

Remove unneeded if block
  apps/web/src/components/ChatProvider/index.tsx
Due: web-app-updated

Improve chat UI
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/BackgroundPrimaryWeaker.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatBubbleView.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
Due: ios-app-updated

Refactor
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatBubbleView.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatHeaderView.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatMessage.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatView.swift
Due: ios-app-updated

Remove unneeded dependency
  apps/web/src/components/ChatProvider/index.tsx
Due: web-app-updated

Use LazyVStack
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatView.swift
Due: ios-app-updated

Create ChatInputBar
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatInputBar.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatView.swift
Due: ios-app-updated

Refactor ChatView
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatMessageList.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatView.swift
Due: ios-app-updated

Don't connect to a ChatClient if already connected
  apps/web/src/components/ChatProvider/index.tsx
Due: web-app-updated

Fix typos
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/media-processor-webhook.js
Due: none

Remove sync_object_names
  serverless/functions/create-stream.js
  serverless/functions/join-stream-as-speaker.js
  serverless/functions/join-stream-as-viewer.js
Due: none

Refactor to more views
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatBubbleView.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatHeaderView.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatMessageList.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
Due: ios-app-updated

Smal improvements
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatInputBar.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatMessageList.swift
Due: ios-app-updated

Reorganize files
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Views/Chat/ChatBubbleView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Chat/ChatHeaderView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Chat/ChatInputBar.swift
  apps/ios/LiveVideo/LiveVideo/Views/Chat/ChatMessageList.swift
  apps/ios/LiveVideo/LiveVideo/Views/Chat/ChatView.swift
Due: ios-app-updated

Adjust layout
  apps/ios/LiveVideo/LiveVideo/Views/Chat/ChatMessageList.swift
Due: ios-app-updated

Improve spacing at the end of the list
  apps/ios/LiveVideo/LiveVideo/Views/Chat/ChatMessageList.swift
Due: ios-app-updated

Remove unnecessary weak self
  apps/ios/LiveVideo/LiveVideo/Twilio/Chat/ChatManager.swift
Due: ios-app-updated
