Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            functions/.* backend-updated true
            apps/web/.* web-app-updated true
            apps/ios/.* ios-app-updated true
          base-revision: main 
          config-path: .circleci/continue_config.yml

add app version to about dialog
  apps/web/src/components/AboutDialog/AboutDialog.tsx
Due: web-app-updated

add back passing tests
  apps/web/package-lock.json
  apps/web/src/App.test.tsx
  apps/web/src/components/AboutDialog/AboutDialog.test.tsx
  apps/web/src/components/Buttons/EndEventButton/EndEventButton.test.tsx
  apps/web/src/components/Buttons/ToggleChatButton/ToggleChatButton.test.tsx
  apps/web/src/components/ChatProvider/index.test.tsx
  apps/web/src/components/ChatWindow/ChatInput/ChatInput.test.tsx
  apps/web/src/components/ChatWindow/MessageList/MediaMessage/MediaMessage.test.tsx
  apps/web/src/components/ChatWindow/MessageList/MediaMessage/MediaMessage.tsx
  apps/web/src/components/ChatWindow/MessageList/MessageList.test.tsx
  apps/web/src/components/ChatWindow/MessageList/__snapshots__/MessageList.test.tsx.snap
  apps/web/src/components/IntroContainer/UserMenu/UserMenu.test.tsx
  apps/web/src/components/LoginPage/LoginPage.test.tsx
  apps/web/src/components/MainParticipantInfo/MainParticipantInfo.test.tsx
  apps/web/src/components/MenuBar/Menu/Menu.test.tsx
  apps/web/src/components/MenuBar/MenuBar.test.tsx
  apps/web/src/components/ParticipantInfo/ParticipantInfo.test.tsx
  apps/web/src/components/ParticipantList/ParticipantList.test.tsx
  apps/web/src/components/ParticipantList/__snapshots__/ParticipantList.test.tsx.snap
  apps/web/src/components/PreJoinScreens/DeviceSelectionScreen/DeviceSelectionScreen.test.tsx
  apps/web/src/components/PreJoinScreens/DeviceSelectionScreen/SettingsMenu/SettingsMenu.test.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.test.tsx
  apps/web/src/components/PrivateRoute/PrivateRoute.test.tsx
  apps/web/src/components/Room/Room.test.tsx
  apps/web/src/components/Snackbar/__snapshots__/Snackbar.test.tsx.snap
  apps/web/src/components/VideoProvider/useHandleRoomDisconnection/useHandleRoomDisconnection.test.tsx
  apps/web/src/components/VideoProvider/useRoom/useRoom.test.tsx
  apps/web/src/hooks/useMainParticipant/useMainParticipant.test.tsx
  apps/web/src/hooks/useParticipants/useParticipants.test.tsx
  apps/web/src/state/useFirebaseAuth/useFirebaseAuth.test.ts
  apps/web/src/state/useFirebaseAuth/useFirebaseAuth.ts
  apps/web/src/state/usePasscodeAuth/usePasscodeAuth.test.tsx
  apps/web/src/utils/useConnectionOptions/useConnectionOptions.test.tsx
Due: web-app-updated

supress Platform browser warnings
  apps/web/src/setupTests.ts
Due: web-app-updated

remove prod flag from package json
  package.json
Due: none

update snackbar snapshot tests
  apps/web/src/components/Snackbar/Snackbar.test.tsx
  apps/web/src/components/Snackbar/__snapshots__/Snackbar.test.tsx.snap
Due: web-app-updated

remove firebase types
  apps/web/src/state/index.tsx
Due: web-app-updated

remove firebase user info from UserAvatar
  apps/web/src/components/IntroContainer/UserMenu/UserAvatar/UserAvatar.test.tsx
  apps/web/src/components/IntroContainer/UserMenu/UserAvatar/UserAvatar.tsx
Due: web-app-updated

remove unused packages
  apps/web/package.json
Due: web-app-updated

npm install
  apps/web/package-lock.json
Due: web-app-updated

remove unused circleci config file
  apps/web/.circleci/config.yml
Due: web-app-updated

Update circleci test script
  .circleci/continue_config.yml
Due: none

Use new node orb version
  .circleci/continue_config.yml
Due: none

remove useravatar component
  apps/web/src/components/IntroContainer/UserMenu/UserAvatar/UserAvatar.test.tsx
  apps/web/src/components/IntroContainer/UserMenu/UserAvatar/UserAvatar.tsx
Due: web-app-updated

- Refactor for RemoteStorage process to validate and parsing Error responses using the retrofit parsing process.
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/di/MainModule.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/remote/RemoteStorage.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/util/ApiResponseUtil.kt
Due: none

- Fix for Test cases after remoteStorage refactor
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/di/MainModuleFake.kt
Due: none

- Fix to improve the error handling when the room is disconnected.
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
Due: none

Use video-composer-v2
  serverless/constants.js
Due: none

add emoji support to live app
  apps/web/src/components/ChatWindow/ChatInput/ChatInput.tsx
Due: web-app-updated

hide emoji buttons on mobile
  apps/web/src/components/ChatWindow/ChatInput/ChatInput.tsx
Due: web-app-updated

- Fix to separate public and private methods for RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package.json
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
Due: none

Task/video 10635/android integrate api call and customize UI for speakers (#155)
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/LiveVideoRepository.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/remote/LiveVideoAPIService.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/remote/RemoteStorage.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/model/LiveVideoAPIResponses.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewmodel/StreamViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewmodel/StreamViewModel.kt
Due: none

show emojis on mobile and increase font for one emoji
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/components/ChatWindow/ChatInput/ChatInput.tsx
  apps/web/src/components/ChatWindow/MessageList/TextMessage/TextMessage.tsx
Due: web-app-updated

Poke CI
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
Due: ios-app-updated

[Snyk] Security upgrade fastlane from 2.191.0 to 2.191.0 (#129)
  Gemfile.lock
  apps/ios/LiveVideo/LiveVideo/Views/Stream/SpeakerGridViewModel.swift
Due: ios-app-updated

- Optimize the grid rendering. - Created GridManager.kt in order to manage all the GridMode operations. - Implemented Switch View when a Dominant Speaker changed.
  apps/android/LiveVideoApp/app/build.gradle
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/GridManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/LocalParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/ParticipantStream.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RemoteParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/model/LiveVideoAPIResponses.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/util/BindingAdapter.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewmodel/StreamViewModel.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewstate/StreamViewState.kt
  apps/android/LiveVideoApp/app/src/main/res/drawable/dominant_speaker_border.xml
  apps/android/LiveVideoApp/app/src/main/res/layout/fragment_stream.xml
  apps/android/LiveVideoApp/app/src/main/res/layout/participant_view_item.xml
  apps/android/LiveVideoApp/build.gradle
Due: none

ensure emoji-only messasges are bigger font
  apps/web/src/components/ChatWindow/ChatInput/ChatInput.tsx
  apps/web/src/components/ChatWindow/MessageList/TextMessage/TextMessage.tsx
Due: web-app-updated

Fix to log and handle the exception MalformedJsonException
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/remote/RemoteStorage.kt
Due: none

Task/video 10785/improvement remote storage to parse error using retrofit (#156)
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/di/MainModule.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/remote/RemoteStorage.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/util/ApiResponseUtil.kt
  apps/android/LiveVideoApp/app/src/test/java/com/twilio/livevideo/app/di/MainModuleFake.kt
Due: none

Refactor to only manage the participants list in the GridManager.kt Implemented different room UI participants operations like AddParticipant, RemoveParticipant, UpdateDominantSpeaker.
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/GridManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/util/BindingAdapter.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewmodel/StreamViewModel.kt
  apps/android/LiveVideoApp/app/src/main/res/layout/fragment_stream.xml
Due: none

task/VIDEO-10999 Optimize grid mode (#161)
  apps/android/LiveVideoApp/app/build.gradle
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/GridManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/LocalParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/ParticipantStream.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RemoteParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/model/LiveVideoAPIResponses.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/util/BindingAdapter.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewmodel/StreamViewModel.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewstate/StreamViewState.kt
  apps/android/LiveVideoApp/app/src/main/res/drawable/dominant_speaker_border.xml
  apps/android/LiveVideoApp/app/src/main/res/layout/fragment_stream.xml
  apps/android/LiveVideoApp/app/src/main/res/layout/participant_view_item.xml
  apps/android/LiveVideoApp/app/src/main/res/values/strings.xml
  apps/android/LiveVideoApp/build.gradle
Due: none

add message list tests
  apps/web/src/components/ChatWindow/MessageList/MessageList.test.tsx
  apps/web/src/components/ChatWindow/MessageList/__snapshots__/MessageList.test.tsx.snap
Due: web-app-updated

update NPM scripts to be windows friendly
  apps/web/package.json
  apps/web/scripts/build.js
  apps/web/src/components/AboutDialog/AboutDialog.tsx
Due: web-app-updated

align emojis with text input
  apps/web/src/components/ChatWindow/ChatInput/ChatInput.tsx
Due: web-app-updated

- Fix to handle generic room disconnection type.
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
Due: none

remove left margin from emoji buttons
  apps/web/src/components/ChatWindow/ChatInput/ChatInput.tsx
Due: web-app-updated

task/VIDEO-11001 android transition move speaker as viewer (#162)
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/di/ComponentModule.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/GridManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/LocalParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/ParticipantStream.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RemoteParticipantWrapper.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomManager.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/manager/room/RoomViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/LiveVideoRepository.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/remote/LiveVideoAPIService.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/datasource/remote/RemoteStorage.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/repository/model/LiveVideoAPIResponses.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/util/BindingAdapter.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/view/StreamFragment.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewmodel/StreamViewEvent.kt
  apps/android/LiveVideoApp/app/src/main/java/com/twilio/livevideo/app/viewmodel/StreamViewModel.kt
  apps/android/LiveVideoApp/app/src/main/res/layout/fragment_stream.xml
  apps/android/LiveVideoApp/app/src/main/res/layout/participant_view_item.xml
  apps/android/LiveVideoApp/app/src/main/res/menu/speaker_menu.xml
  apps/android/LiveVideoApp/app/src/main/res/values/strings.xml
Due: none
