Repository twilio/twilio-live-interactive-video: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, web-app-updated, ios-app-updated

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            functions/.* backend-updated true
            apps/web/.* web-app-updated true
            apps/ios/.* ios-app-updated true
          base-revision: main 
          config-path: .circleci/continue_config.yml

include links to sync docs and blog post in readme
  CHANGELOG.md
  README.md
Due: none

Update changelog date
  CHANGELOG.md
Due: none

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: web-app-updated

Set PlayerStreamer max duration to 30 minutes
  README.md
  serverless/functions/create-stream.js
Due: none

Refactor error handling in create-stream.js
  serverless/functions/create-stream.js
  serverless/middleware/common.private.js
Due: none

Create stream document in create-stream route
  serverless/functions/create-stream.js
Due: none

Refactor create-stream a little more
  serverless/functions/create-stream.js
Due: none

Refactor errors in join-stream; add permissions to stream document
  serverless/functions/join-stream-as-speaker.js
Due: none

Refactor error handling in join-stream; add permissions to stream doc
  serverless/functions/join-stream-as-viewer.js
Due: none

Fix bug in record stream
  serverless/functions/create-stream.js
Due: none

Display recording status
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/RecordingDotBright.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Assets.xcassets/Colors/RecordingDotDark.colorset/Contents.json
  apps/ios/LiveVideo/LiveVideo/Helpers/LiveVideoError.swift
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/API/CreateOrJoinStreamRequest.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Room/LocalParticipantManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamConfig.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamViewModel.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncStreamDocument.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncUserDocument.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncUsersMap.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/RecordingBadge.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamStatusView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
  apps/ios/LiveVideo/LiveVideo/Views/StreamConfigFlow/EnterStreamNameView.swift
  apps/ios/LiveVideo/LiveVideo/Views/StreamConfigFlow/StreamConfigFlowModel.swift
  apps/ios/LiveVideo/LiveVideo/Views/Style/Color.swift
Due: ios-app-updated

Fix proxy
  apps/web/src/setupProxy.js
Due: web-app-updated

Add checkbox to enable recordings
  apps/web/src/components/Buttons/LeaveEventButton/LeaveEventButton.tsx
  apps/web/src/components/PreJoinScreens/CreateNewEventScreen/CreateNewEventScreen.tsx
  apps/web/src/components/PreJoinScreens/PreJoinScreens.tsx
  apps/web/src/components/Room/Room.tsx
  apps/web/src/state/api/api.ts
  apps/web/src/state/appState/appReducer.ts
Due: web-app-updated

Update useIsRecording to listen to StreamDocument updates
  apps/web/src/components/SyncProvider/index.tsx
  apps/web/src/hooks/useIsRecording/useIsRecording.ts
  apps/web/src/types.ts
Due: web-app-updated

Add mock media-processor-webhook endpoint
  serverless/functions/media-processor-webhook.js
Due: none

Fix if statement
  serverless/functions/media-processor-webhook.js
Due: none

Minor fixes
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Views/Stream/LiveBadge.swift
  apps/ios/LiveVideo/LiveVideo/Views/Stream/StreamView.swift
Due: ios-app-updated

Setup fastlane match
  .circleci/continue_config.yml
  .gitignore
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/fastlane/Appfile
  apps/ios/LiveVideo/fastlane/Fastfile
  apps/ios/LiveVideo/fastlane/Matchfile
  apps/ios/LiveVideo/fastlane/README.md
Due: ios-app-updated

Fix CI
  .circleci/continue_config.yml
Due: none

Setup fastlane match (#109)
  .circleci/continue_config.yml
  .gitignore
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/fastlane/Appfile
  apps/ios/LiveVideo/fastlane/Fastfile
  apps/ios/LiveVideo/fastlane/Matchfile
  apps/ios/LiveVideo/fastlane/README.md
Due: ios-app-updated

Add environment setting
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/InAppSettings.bundle/LaunchScreen.storyboard
  apps/ios/LiveVideo/LiveVideo/InAppSettings.bundle/Root.plist
  apps/ios/LiveVideo/LiveVideo/InAppSettings.bundle/en.lproj/Root.strings
  apps/ios/LiveVideo/LiveVideo/Managers/Auth/AuthManager.swift
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsKeys.swift
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/SettingsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/TitleValueView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/TwilioEnvironment.swift
Due: ios-app-updated

Move environment setting to advanced menu
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/AdvancedSettings.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/GeneralSettingsView.swift
Due: ios-app-updated

Add environment badge
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsKeys.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/EnvironmentBadge.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/TwilioEnvironment.swift
Due: ios-app-updated

Remove SwiftyUserDefaults
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/ios/LiveVideo/LiveVideo/Launch/LiveVideoApp.swift
  apps/ios/LiveVideo/LiveVideo/Managers/AppSettings/AppSettingsManager.swift
  apps/ios/LiveVideo/LiveVideo/Managers/AppSettings/TwilioEnvironment.swift
  apps/ios/LiveVideo/LiveVideo/Managers/Auth/AuthManager.swift
  apps/ios/LiveVideo/LiveVideo/Managers/UserDefaults/UserDefaultsKeys.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Sync/SyncManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/EnvironmentBadge.swift
  apps/ios/LiveVideo/LiveVideo/Views/Home/HomeView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/AdvancedSettings.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/GeneralSettingsView.swift
Due: ios-app-updated

Small improvements
  apps/ios/LiveVideo/LiveVideo/Views/Home/EnvironmentBadge.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/TitleValueView.swift
Due: ios-app-updated

Change badge color
  apps/ios/LiveVideo/LiveVideo/Views/Home/EnvironmentBadge.swift
Due: ios-app-updated

Move environment setting to the sign in screen
  apps/ios/LiveVideo/LiveVideo.xcodeproj/project.pbxproj
  apps/ios/LiveVideo/LiveVideo/Managers/AppSettings/AppSettingsManager.swift
  apps/ios/LiveVideo/LiveVideo/Managers/Auth/AuthManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/AdvancedSettings.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/GeneralSettingsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/SignInSettingsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/EnterUserIdentityView.swift
Due: ios-app-updated

Fix process variable value
  apps/ios/LiveVideo/LiveVideo/Managers/AppSettings/TwilioEnvironment.swift
  apps/ios/LiveVideo/LiveVideo/Twilio/Stream/StreamManager.swift
Due: ios-app-updated

Update serverless scripts to support stage
  serverless/scripts/deploy.js
  serverless/scripts/list.js
  serverless/scripts/remove.js
Due: none

Update passcode auth function to support stage
  serverless/middleware/auth.private.js
Due: none

Update web sync and conversation providers to support stage
  apps/web/src/components/ChatProvider/index.tsx
  apps/web/src/components/SyncProvider/index.tsx
Due: web-app-updated

Fix issue with serverless deployment to stage
  serverless/scripts/deploy.js
Due: none

Get react app to read .env file in root folder
  apps/web/scripts/build.js
Due: web-app-updated

Simplify serverless scripts
  serverless/scripts/deploy.js
  serverless/scripts/list.js
  serverless/scripts/remove.js
Due: none

Fix setting reset issue
  apps/ios/LiveVideo/LiveVideo/Managers/AppSettings/AppSettingsManager.swift
  apps/ios/LiveVideo/LiveVideo/Managers/Auth/AuthManager.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/EnterUserIdentityView.swift
Due: ios-app-updated

Don't persist environment until later in sign in flow
  apps/ios/LiveVideo/LiveVideo/Views/Home/EnvironmentBadge.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/GeneralSettingsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/Settings/SignInSettingsView.swift
  apps/ios/LiveVideo/LiveVideo/Views/SignIn/EnterUserIdentityView.swift
Due: ios-app-updated
